<section class="image-container">
  <figure class="image image-container__image-content animate__animated animate__jackInTheBox">
    <img src="assets/img/empty-state.jpg" alt="imagen de no existen datos resgistrados">
  </figure>
  <section class="image-container__text-container has-text-centered">
    <mat-label class="text title-text animate__animated animate__zoomIn animate__delay-1s">{{title}}</mat-label>
    <mat-label class="text description-text animate__animated animate__zoomIn animate__delay-1s">{{text}}</mat-label>
    <button *ngIf="user.role === role.ADMIN" class="mt-4" mat-raised-button color="primary">
      <mat-label class="btn-action" (click)="btnEventEmitter.emit(true)">{{btnTitle}}</mat-label>
    </button>
  </section>
</section>
