@import 'variables';
.image-container {
  margin: auto;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  @include media-breakpoint-up(md) {
    max-width: 600px;
  }
  &__image-content {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 16px;
    opacity: 0.7;
  }

  &__text-container, strong {
    color: var(--color-dark-read-only);
    width: 100%;
    .text {
      display: block;
    }

    .title-text {
      @include displaySmallText;
      margin-bottom: 16px;
      --animate-delay: 0.3s
    }
    .description-text {
      @include bodyLargeText;
      --animate-delay: 0.6s
    }
  }
}

.btn-action {
  @include buttonText;
}
