<section class="speciality-container">
  <section class="speciality-container__info">
    <mat-label class="speciality-container__info-title__text">¿Porque escoger una terapia “VIRTUAL”?</mat-label>
    <mat-label class="speciality-container__info-subtitle__text">Razones para escogernos</mat-label>
  </section>
  <swiper
    [config]="config"
    [spaceBetween]="(isHandset$ | async) ? 0 : 50"
    [slidesPerView]="(isHandset$ | async) ? 1 : 3"

  >
    <ng-template swiperSlide *ngFor="let item of specialities; index as i">
      <article class="speciality-container__speciality-content">
        <ngx-avatar class="mb-4 speciality-icon" size="100" [name]="item.title.substring(0, 2)" [src]="item.icon"></ngx-avatar>
        <mat-label class="speciality-container__speciality-content__title">{{item.title}}</mat-label>
        <mat-label class="speciality-container__speciality-content__description">{{item.description}}</mat-label>
      </article>
    </ng-template>
  </swiper>
</section>
