@import 'variables';
.speciality-container {
  padding: 20px;
  background-color: var(--color-neutral-variant-20);
  color: var(--color-dark-read-only);
  @include media-breakpoint-up(xl) {
    padding-left: 100px;
    padding-right: 100px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    &-subtitle__text {
      @include titleMediumText;
      color: var(--color-secondary-container);
    }
    &-title__text {
      @include headlineSmallText;
      color: var(--color-tertiary-container);
      margin-bottom: 16px;
    }
  }
  &__speciality-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__icon {
      @include icon-content;
      background-color: var(--color-dark-on-secondary-container);
      color: var(--color-dark-read-only);
      outline: 10px solid rgba(255, 176, 203, 0.12);
      margin-bottom: 16px;
    }
    &__title {
      @include headlineSmallText;
      margin-bottom: 16px;
      color: var(--color-tertiary-container);
    }
    &__description {
      @include bodyMediumText;
    }
  }
}
