<app-route-section [showBackButton]="true" [routes]="['Inteligencia erótica', 'Cursos', 'Detalles']" (btnEventEmitter)="back()">
</app-route-section>
<app-admin-title-section [title]="'Curso - ' + (course?.title)"></app-admin-title-section>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
<section class="columns is-multiline main-container m-0">
  <section class="column is-8 py-0 main-container__resources">
    <div *ngIf="video" class="columns is-multiline">
      <section class="column is-12 main-container__resources-container">
        <int-ero-course-video [videoIndex]="videoIndex" [playlist]="playlist" [video]="video" (btnEventEmitter)="changeVideo($event)"></int-ero-course-video>
      </section>
      <mat-divider></mat-divider>
      <article class=" mt-2 column is-12 main-container__resources-description mb-4">
        <section class="main-container__resources-description__avatar">
          <ngx-avatar class="mr-2" size="50" [src]="'https://firebasestorage.googleapis.com/v0/b/sex-coach-d4944.appspot.com/o/profile%2Fdr-coach.jpg?alt=media&token=4f1f684b-b918-4b30-825f-e1002ee16b37'" [name]="'PRR'"></ngx-avatar>
          <mat-label class="main-container__resources-description__avatar-name">{{'Dr. Manuel Oquendo Cortez'}}
          </mat-label>
        </section>
        <div class="main-container__resources-description__text"
          [innerHTML]="video.description || 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.'">
        </div>
      </article>
    </div>
    <section>
      <int-ero-empty-state *ngIf="playlist && playlist.length === 0"></int-ero-empty-state>
    </section>
  </section>

  <section class="column is-4 main-container__syllabus">
    <section class="main-container__syllabus__header">
      <div class="is-flex is-flex-direction-row is-align-items-center">
        <mat-icon class="main-container__syllabus__header-icon mr-2">list</mat-icon>
        <mat-label class="main-container__syllabus__header-title">Temario</mat-label>
      </div>
      <span class="spacer"></span>
      <button *ngIf="user?.role === 'ADMIN'" (click)="addVideo('course')" mat-raised-button color="primary">
        <mat-label>Agregar video</mat-label>
      </button>
    </section>

    <mat-divider></mat-divider>

    <section *ngIf="playlist" class="main-container__syllabus__content">
      <mat-list role="list">
        <int-ero-course-data-list *ngFor="let data of playlist; index as i" [video]="data" [index]="i"
          [videoSelected]="video" [user]="user" (selectEventEmitter)="onClickPlaylistItem(data, i)" (actionEventEmitter)="actionEvent($event, data, swalSuccess)"></int-ero-course-data-list>
      </mat-list>
    </section>

  </section>
</section>

<swal
  #swalSuccess
  title="Eliminado correctamente!"
  text="Los datos se eliminaron correctamente."
  icon="success"
  position="center"
  customClass="swalSuccess"
  [showCancelButton]="false"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="1500"
  >
</swal>
