@import 'variables';

.main-container{
  // background-color: #23191C;
  padding-left: 22px;
  padding-right: 22px;

  &__resources{

    &-container{
      height: fit-content;
      &__video{
        width: 100%;
      }
    }

    &-content{
      display: flex;
      justify-content: space-between;
      &__title{
        @include titleLargeText;
        color: var(--color-dark-read-only);
      }
    }

    &-description{

      &__avatar{
        display: flex;
        align-items: center;
        @include bodyLargeText;
        color: var(--color-neutral-99);
        &-name{
          opacity: 0.6;
        }
      }

      &__text{
        @include bodyLargeText;
        // opacity: 0.4;
        color: var(--color-neutral-99);
        background-color: var(--color-neutral-20);
        padding: 20px;
        margin-top: 20px;

      }
    }
  }

  &__syllabus{
    background-color: var(--color-neutral-20);

    &__header{
      padding: 10px;
      display: flex;
      align-items: center;
      &-title{
        @include titleMediumText;
        color: var(--color-dark-secondary);
      }
      &-icon{
        color: var(--color-dark-secondary);
      }
    }

    &__content{
      color: var(--color-dark-on-surface-variant);
    }

  }
}
.player-wrapper {
  width: 100%;
  video {
      width: 100%;
  }
}
ul {
  padding: 0px;

  li.playlist-item {
      padding: 10px;
      list-style: none;
      margin-bottom: 2px;
      cursor: pointer;
  }

  li.playlist-item.selected {
      opacity: 0.9;
      color: var(--color-dark-primary);
  }
}

mat-divider{
  border: 1px solid var(--color-dark-read-only);
}


.action-previous__btn {
  color: var(--color-dark-primary);
}
