@import 'variables';

.main-container{
  background-color: var(--color-tertiary-95);
}
.main-learning{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 20px;
  @include media-breakpoint-up(lg) {
    margin-top: 40px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__container-image{
    width: 80%;
    margin-top: 40px;
    margin-right: 20px;
    filter: drop-shadow(0px 30px 60px #1f1a1b80);
    box-shadow: 20px -20px #984063;

    @include media-breakpoint-up(lg){
      margin-top: 20px;
    }

    @include media-breakpoint-up(lg){
      width: 50%;
    }
    &__content{
      width: 100%;
      height: 100%;
    }
  }

  &__info{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn-content {
      max-width: 200px;
    }
    @include media-breakpoint-up(lg){
      align-items: flex-start;
      padding-left: 120px;
      width: 40%;
    }
    &-title{
      @include headlineSmallText;
      text-align: center;
      display: inline-block;
      color: var(--color-secondary);

      @include media-breakpoint-up(md) {
        @include headlineMediumText;
      }

      @include media-breakpoint-up(lg) {
        text-align: start;
        @include headlineLargeText;
      }

    }
    &-description{
      @include bodySmallText;
      text-align: center;

      @include media-breakpoint-up(md) {
        @include bodyMediumText;
      }

      @include media-breakpoint-up(lg) {
        text-align: start;
        @include bodyLargeText;
      }
    }
  }
}

.btn-content {
  --animate-delay: 1;
  @include btn-content;
}
.btn-text {
  @include buttonText;
}
