<section *ngIf="aboutUsCallToAction" class="main-container pt-6">
  <section class="container">
    <app-title-section [title]="aboutUsCallToAction.title"></app-title-section>
  </section>
  <section class="main-learning">
    <figure data-aos="fade-left" class="main-learning__container-image">
      <img *ngIf="aboutUsCallToAction.images !== null" class="main-learning__container-image__content" [src]="aboutUsCallToAction.images[0]" alt="inteligencia erótica fotografia del sistema">
      <div class="on-background"></div>
    </figure>
    <article data-aos="fade-right" class="main-learning__info">
      <mat-label class="main-learning__info-title">{{aboutUsCallToAction.subtitle}}</mat-label>
      <p class="main-learning__info-description mt-4">{{aboutUsCallToAction.description[0]}}</p>
      <button class="btn-content mt-4" color="primary" mat-raised-button [routerLink]="showButton?'/public/cursos':'/public/cursos/detalle/a89tZNtiCkwlXDPkcdtO'">
        <mat-label class="is-text is-text--button">Comienza a aprender</mat-label>
      </button>
    </article>
  </section>
</section>
