<article class="table-container">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef>
        <mat-label class="is-text is-text--label">Usuario</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ngx-avatar [src]="element.avatar" [name]="element.name" size="30" class="mr-4 avatar-content"></ngx-avatar>
        <section class="data-user__info">
          <mat-label class="is-text is-text--label is-color--white is-color--secondary">
            {{element.name}}
          </mat-label>
          <mat-label class="is-text is-text--caption is-color--white">
            {{element.role}}
          </mat-label>
        </section>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-label class="is-text is-text--caption is-color--white">
          {{element.email}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Nro Celular</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [href]="'https://wa.me/'+element.phone" target="_blank">
          <mat-label class="is-text is-text--caption is-text--button is-color--white">
            {{element.phone}}
          </mat-label>
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateStart">
      <mat-header-cell *matHeaderCellDef> Fecha de Registro </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-label class="is-text is-text--caption is-color--white">
          {{element.dateStart.toDate() | date}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="material-icons-outlined is-color--primary" aria-label="label">more_horizontal</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="courseGestion(element)">
            <mat-icon class="material-icons-outlined is-color--primary" aria-hidden="false" aria-label="{2:label} icon">add</mat-icon>
            <mat-label>Gestionar cursos</mat-label>
          </button>
          <button mat-menu-item>
            <mat-icon class="material-icons-outlined is-color--primary" aria-hidden="false" aria-label="{2:label} icon">edit</mat-icon>
            <mat-label>Editar</mat-label>
          </button>
          <button mat-menu-item (click)="deleteData(swalSuccess, element)">
            <mat-icon color="warn" aria-hidden="false" aria-label="{2:label} icon">delete</mat-icon>
            <mat-label>Eliminar</mat-label>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</article>

<swal
  #swalSuccess
  title="Eliminado correctamente!"
  text="Los datos se eliminaron correctamente."
  icon="success"
  position="center"
  customClass="swalSuccess"
  [showCancelButton]="false"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="1500"
  >
</swal>
