:root {
  --color-primary: #984063;
  --color-primary-container: #7A294B;
  --color-on-primary-container: #3F001E;
  --color-secondary: #765655;
  --color-secondary-container: #FFD9E3;
  --color-tertiary: #7D5635;
  --color-tertiary-container: #FFDCC0;
  --color-tertiary-95: #FFEDE0;
  --color-outline: #9D8C90;
  --color-dark-read-only: #FFFFFF;

  // NEUTRAL COLOR
  --color-neutral: #645C5E;
  --color-neutral-10: #1F1A1B;
  --color-neutral-20: #352F30;
  --color-neutral-30: #4D4547;
  --color-neutral-40: #645C5E;
  --color-neutral-90: #EDE0DF;
  --color-neutral-95: #FBEEED;
  --color-neutral-99: #FCFCFC;
  --color-neutral-variant: #695B5E;
  --color-neutral-variant-10: #23191C;
  --color-neutral-variant-20: #3A2D31;
  --color-neutral-variant-30: #514347;
  --color-neutral-variant-40: #695B5E;

  // ERROR COLOR
  --color-error: #FFB4A9;

  //DARK THEME
  --color-dark-primary: #FFB0CB;
  --color-dark-secondary: #E2BDC7;
  --color-dark-tertiary: #EFBC94;
  --color-dark-read-only: #FFFFFF;
  --color-dark-on-secondary-container: #FFD9E3;
  --color-dark-on-surface: #EBDFE1;
  --color-dark-on-surface-variant: #D5C2C6;
  --color-dark-error: #FFB4A9;
  --color-background: #E5E5E5;
  //ligth THEME
  --color-light-primary: #984063;
  --color-light-secondary: #765655;
  --color-light-tertiary: #7D5635;
  --color-light-read-only: #000000;
  --color-light-on-secondary-container: #FFD9E3;
  --color-light-on-surface: #EBDFE1;
  --color-light-on-surface-variant: #D5C2C6;
  --color-light-error: #FFB4A9;
  --color-background: #E5E5E5;
}
