$mat-theme-ignore-duplication-warnings: true;
@import '~@angular/material/theming';


$custom-typography: mat-typography-config(
  $font-family: 'Open Sans'
);
@include mat-core($custom-typography);

$app-primary: mat-palette($mat-pink, 900);
$app-accent: mat-palette($mat-brown, 700);
$app-warn: mat-palette($mat-red, 900);

$app-theme: mat-light-theme((color: (primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    )));

@include angular-material-theme($app-theme);
