<section class="is-bg--neutral90 animate__animated animate__fadeIn">
  <section class="container is-flex px-5 py-3 is-align-items-center">
    <span class="is-text is-text--title"><strong>Cursos disponibles</strong></span>
    <span class="spacer"></span>
    <section class="is-flex is-align-items-center" *ngIf="false">
      <mat-label class="is-text is-text--caption mr-2">Categoria:</mat-label>
      <section class="select-container">
        <mat-select placeholder="category" [(ngModel)]="selected" [value]="selected">
          <mat-option class="is-text is-text--button" [value]="'Todos'">Todos</mat-option>
        </mat-select>
      </section>
    </section>
  </section>
</section>
<section class="container course-container animate__animated animate__fadeInUp animate__slow">
  <section class="columns is-multiline">
    <article *ngFor="let course of courses" class="column is-12-mobile is-6-tablet is-4-desktop">
      <app-course-container [course]="course"></app-course-container>
    </article>
    <article class="column is-12-mobile is-8-tablet" *ngFor="let course of courses">
      <app-course-detail *ngIf="course && playlist" [courseInput]="course" [playlistInput]="playlist"
        [hiddenContainer]="true"></app-course-detail>
    </article>
  </section>
</section>

<app-learning [showButton]="false"></app-learning>
