mat-toolbar {
  background-color: var(--color-neutral-30);
  color: var(--color-dark-read-only);
}

.form-container {
  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--color-neutral-20);
  }
}

.voucher-button {
  cursor: pointer;
}

.voucher-button:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
