<app-route-section [showCloseButton]="true" [routes]="['Admin', 'Usuario', 'Cursos']" (btnEventEmitter)="closeBtn()"></app-route-section>

<mat-toolbar class="mat-elevation-z6">
  <mat-label class="s-text is-text--title">Gestionar cursos</mat-label>
  <span class="spacer"></span>
  <button color="primary" mat-raised-button (click)="showForm? showForm = false: showForm = true">
    {{showForm? 'Cancelar':'Añadir Curso'}}
  </button>
</mat-toolbar>
<mat-divider></mat-divider>
<form *ngIf="showForm" class="form-container" [formGroup]="dataForm" (ngSubmit)="addData(swalSuccess)">
  <mat-label class="text-label">Los campos con * son obligatorios:</mat-label>
  <section class="form-container__content">
    <div class="field mb-4" *ngIf="courses">
      <mat-label class="label">Curso *:</mat-label>
      <mat-select placeholder="Seleccione el curso" formControlName="course">
        <mat-option *ngFor="let course of courses" [value]="course">
          <mat-label>{{course.title}}</mat-label>
        </mat-option>
      </mat-select>
    </div>
    <div class="field mb-4">
      <mat-label class="label">Número de meses pagados*:</mat-label>
      <div class="control has-icons-left has-icons-right">
        <input class="input"
          type="number"
          required="true"
          placeholder="5"
          formControlName="numberMonth">
      </div>
      <div *ngFor="let errorMessage of errorsMessages.numberMonth">
        <ng-container *ngIf="numberMonth?.hasError(errorMessage.type) && (numberMonth?.dirty || numberMonth?.touched)">
          <mat-label class="help">
            {{errorMessage.message}}
          </mat-label>
        </ng-container>
      </div>
    </div>
    <div class="field">
      <mat-label class="label">Fecha de compra *:</mat-label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" [matDatepicker]="picker" placeholder="Fecha de inicio" formControlName="dateStart">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
    <button class="mt-4" [disabled]="!dataForm.valid" mat-raised-button type="submit" color="primary">
      <mat-label class="btn-text">Agregar</mat-label>
    </button>
  </section>
</form>

<article class="table-container">
  <mat-table [dataSource]="coursesByUser">
    <ng-container matColumnDef="course">
      <mat-header-cell *matHeaderCellDef>
        <mat-label class="is-text is-text--label">Curso</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-label class="is-text is-text--caption is-color--white">
          {{element.course.title}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateStart">
      <mat-header-cell *matHeaderCellDef>Inicio de curso</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-label class="is-text is-text--caption is-color--white">
          {{element.dateStart.toDate() | date:'short'}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateEnd">
      <mat-header-cell *matHeaderCellDef>Fin del curso</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-label class="is-text is-text--caption is-color--white">
          {{element.dateEnd.toDate() | date:'short'}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="month">
      <mat-header-cell *matHeaderCellDef> Meses </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <section class="is-flex is-flex-direction-column">
          <mat-label class="is-text is-text--caption is-color--white">
            {{element.numberMonth}} Mes
          </mat-label>
          <mat-label matRipple class="voucher-button is-text is-text--caption is-color--primary has-opacity--6" (click)="showVoucher(element.voucher)">Comprobante de pago</mat-label>
        </section>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="check">
      <mat-header-cell *matHeaderCellDef>Aprobados</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.approved" (change)="approveCourse($event, element)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="material-icons-outlined is-color--primary" aria-label="label">more_horizontal</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon class="material-icons-outlined is-color--primary" aria-hidden="false" aria-label="{2:label} icon">edit</mat-icon>
            <mat-label>Editar</mat-label>
          </button>
          <button mat-menu-item>
            <mat-icon color="warn" aria-hidden="false" aria-label="{2:label} icon">delete</mat-icon>
            <mat-label>Eliminar</mat-label>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</article>


<swal
  #swalSuccess
  title="Agregado correctamente!"
  text="Los datos se agregaron correctamente."
  icon="success"
  position="center"
  customClass="swalSuccess"
  [showCancelButton]="false"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="1500"
  >
</swal>
