<section class="columns main-about m-0" style="justify-content: space-between;">
  <section class="column is-12-mobile is-7-tablet main-about__description">
    <mat-label class="main-about__description-title mb-5">Acerca de este curso</mat-label>
    <div class="main-about__description-text mb-3 mt-5" *ngFor="let item of [0,1,2,3]" [innerHTML]="'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.'"></div>
    <mat-divider class="my-3"></mat-divider>
    <section class="columns main-about__description__learning mt-4">
      <article class="column is-6-mobile is-offset-3-mobile is-6-tablet main-about__description__learning__container mr-3 mb-5">
        <mat-label class="main-about__description__learning__container-title">¿Qué aprenderás?</mat-label>
        <div *ngFor="let item of [0,1,2]" class="main-about__description__learning__container-benefits my-3">
          <mat-icon class="main-about__description__learning__container-benefits-icon">check</mat-icon>
          <mat-label class="main-about__description__learning__container-benefits-text ml-2">Beneficio</mat-label>
        </div>
      </article>

      <article class="column is-6 main-about__description__managed">
        <mat-label class="main-about__description__managed-title">¿A quién está dirigido este curso?</mat-label>
        <div *ngFor="let item of [0,1]" class="my-3">
          <mat-icon class="main-about__description__learning__container-benefits-icon">check</mat-icon>
          <div class="text-managed" [innerHTML]="'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.'"></div>
        </div>
      </article>
    </section>
  </section>

  <section class="column is-12-mobile is-5-tablet main-about__image py-0">
    <figure class="main-about__image-container">
      <img src="/assets/img/courses/detail-course.png" alt="inteligencia erótica">
    </figure>
  </section>
</section>
