@import 'variables';

.main-about {
  background-color: var(--color-neutral-variant-20);
  padding: 50px;

  &__description {
    padding: 30px;
    background-color: var(--color-neutral-variant-30);
    border-left: 10px solid var(--color-dark-tertiary);
    height: 570px;
    max-height: 100%;
    overflow-y: auto;

    &-title {
      color: var(--color-dark-tertiary);
      @include headlineMediumText;
    }

    &-text {
      color: var(--color-neutral-99);
      @include bodyLargeText;
    }

    &__learning {
      margin: 0;

      &__container {
        background-color: var(--color-neutral-variant);
        border-radius: 20px;
        height: 213px;
        max-height: 213px;
        overflow-y: auto;

        &-title {
          @include labelLargeText;
          color: var(--color-dark-tertiary);
        }

        &-benefits {
          display: flex;
          align-items: center;

          &-icon {
            color: var(--color-dark-tertiary);
          }

          &-text {
            color: var(--color-light-read-only);
          }
        }
      }
    }

    &__managed {
      background-color: var(--color-neutral-variant);
      border-radius: 20px;
      height: 213px;
      max-height: 280px;
      overflow-y: auto;

      &-title {
        @include labelLargeText;
        color: var(--color-dark-tertiary);
      }

      div {
        display: flex;

        .text-managed {
          color: var(--color-light-read-only);
          @include bodyLargeText;
        }
      }
    }
  }

  &__image {
    height: 570px;
    &__image-container {
      width: 100%;
      height: 570px;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
      }
    }
  }

}
