@import 'variables';
mat-toolbar {
  background-color: inherit;
  .title-section {
    @include titleSmallText;
    color: var(--color-dark-secondary);

    @include media-breakpoint-up(md) {
      @include titleMediumText;
    }
    @include media-breakpoint-up(lg) {
      @include titleLargeText;
    }
  }
}
