.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: var(--color-neutral-variant-20);
}

.sidenav .mat-toolbar {
  // background: #000!important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-content{
  background-color: var(--color-neutral-variant-10);
}
