<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenavAdmin class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <figure class="p-2">
      <img class="login-form__container-logo" src="assets/img/logo.png" alt="imagen del logo">
    </figure>
    <mat-divider></mat-divider>
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <!-- Add Content Here -->
    <app-navbar-admin></app-navbar-admin>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
