@import 'variables';

* {
  box-sizing: border-box;
}
.mat-divider {
  border-color: var(--color-outline);
  margin-bottom: 10px;
}
.testimony {
  &-container {
    padding: 20px;
    border-radius: 4px;
    background-color: var(--color-neutral-30);
    color: var(--color-neutral-99);
    height: 357px;
    display: flex;
    flex-direction: column;
    &__avatar {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      &-content {
        margin-right: 16px;
        margin-bottom: 10px;
        position: relative;
        &__icon-country {
          position: absolute;
          right: 0px;
          bottom: 0px;
        }
      }
      &-name {
        @include titleMediumText;
        color: var(--color-tertiary-container);
      }

    }
    &__info {
      flex-grow: 1;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      &-icon {
        color: var(--color-dark-tertiary);
        transform: rotate(180deg);
      }
      &-testimony {
        @include bodyLargeText;
        opacity: 0.7;
        margin-top: 10px;
      }
    }
  }
}

.container__info-action {
  display: flex;
  justify-content: space-between;
}
