<section class="testimony">
  <article class="testimony-container">
    <section class="testimony-container__avatar">
      <figure class="testimony-container__avatar-content">
        <ngx-avatar class="avatar-profile" [name]="testimonial.name" [src]="testimonial.avatar"
        size="100" [round]="true">
       </ngx-avatar>
       <span [class]="'fi testimony-container__avatar-content__icon-country fi-' + testimonial.country.alpha2"></span>
      </figure>
      <mat-label class="testimony-container__avatar-name">{{testimonial.name}}</mat-label>
    </section>
    <mat-divider></mat-divider>
    <section class="testimony-container__info">
      <mat-icon class="testimony-container__info-icon" aria-hidden="false" aria-label="{2:label} icon">format_quote</mat-icon>
      <mat-label class="testimony-container__info-testimony">{{testimonial.testimonial}}</mat-label>
    </section>
    <section class="container__info-action mt-4" *ngIf="user?.role === 'ADMIN'">
      <button mat-icon-button (click)="deleteData(swalSuccess)">
        <mat-icon class="material-icons-outlined icon-trash__color" aria-label="delete">delete</mat-icon>
      </button>
      <button mat-icon-button (click)="editData()">
        <mat-icon class="material-icons-outlined" aria-label="edit">edit</mat-icon>
      </button>
    </section>
  </article>
</section>

<swal
  #swalSuccess
  title="Eliminado correctamente!"
  text="Los datos se eliminaron correctamente."
  icon="success"
  position="center"
  customClass="swalSuccess"
  [showCancelButton]="false"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="1500"
  >
</swal>
