@import 'variables';
.btn-action {
  border-radius: 20px;
  margin-top: 1em;
  @include media-breakpoint-up(lg) {
    margin: inherit;
    margin-top: auto;
    margin-bottom: auto
  }
}

.contact {
  .contact-container {
    background: radial-gradient(50% 291.88% at 100% 100%, #FFEDEC 0%, rgba(255, 237, 236, 0) 100%), radial-gradient(50% 291.88% at 0% 100%, rgba(64, 0, 7, 0.1) 0%, rgba(64, 0, 7, 0) 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(md) {
      margin: auto;
    }
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      justify-content: space-evenly;
      padding: 80px !important;
      text-align: start !important;

      .input {
        max-width: 250px;
      }
    }
    &__info {
      @include media-breakpoint-up(md) {
        max-width: 500px;
      }
    }
    .image-illustration {
      @include media-breakpoint-up(lg) {
        width: 500px;
        height: 500px;
      }
      @include media-breakpoint-up(xl) {
        width: 800px;
        height: 500px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

}
