<article class="contact">
  <section class="contact-container has-text-centered is-align-items-center p-4">
    <section class="contact-container__info is-flex is-flex-direction-column animate__animated animate__fadeInLeft">
      <mat-label class="mb-4 is-text is-text--display is-color--secondary--light">Contáctanos</mat-label>
      <mat-label class="is-text is-text--body mb-4">Si esta interesado en adquirir uno de nuestros cursos o mayor
        información de como poder comprar las mismas, ingresa tu correo electrónico para poder comunicarnos lo mas antes
        posible</mat-label>
      <form [formGroup]="dataForm" (ngSubmit)="sendDataIntoForm()" class="is-flex-desktop is-align-items-center mb-4">
        <input class="input mr-4" type="email" formControlName="email" placeholder="example@example.com">
        <button mat-raised-button color="primary" type="submit" class="btn-action">
          <mat-label class="is-text is-text--button">Contactame</mat-label>
        </button>
        <mat-progress-bar *ngIf="state" mode="indeterminate"></mat-progress-bar>
      </form>
    </section>
    <figure class="image-illustration animate__animated animate__fadeInRight">
      <img src="assets/icons/contact.svg" alt="inteligencia erótica contact illustration">
    </figure>
  </section>
</article>
