<article class="card">
  <figure class="card-img" matRipple [routerLink]="'/public/cursos/detalle/' + course.id">
    <img class="card-img__content"
      [src]="course.banner || 'https://images.unsplash.com/photo-1592398276785-f636168c02e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80'"
      alt="inteligencia erótica banner del curso">
    <div class="on-bg"></div>
  </figure>
  <section class="card-content">
    <section class="card-content__header">
      <mat-label class="card-content__header-title mb-2"> <strong
          class="is-text is-text--title is-color--primary--light">{{course.title}}</strong></mat-label>
      <div class="card-content__header-description is-text is-text--body" [innerHTML]="course.description"></div>
    </section>
    <section class="card-content__footer">
      <section class="card-content__footer-left">
        <ngx-avatar class="mr-2" size="50"
          [src]="'https://firebasestorage.googleapis.com/v0/b/sex-coach-d4944.appspot.com/o/profile%2Fdr-coach.jpg?alt=media&token=4f1f684b-b918-4b30-825f-e1002ee16b37'"
          [name]="'PRR'"></ngx-avatar>
        <mat-label class="is-text is-text--caption is-opacity--05"><strong> {{'Dr. Manuel Oquendo Cortez'}} </strong>
        </mat-label>
      </section>
      <section class="card-content__footer-right">
        <button class="price-info" mat-button color="primary" (click)="addCourseToShoppingCar()">
          <article>
            <mat-icon class="material-icons-outlined mr-2" aria-label="label">
              {{(course | courseExist)? 'check' : 'add_shopping_cart'}}</mat-icon>
          </article>
          <article class="label-info">
            <article class="label-info__content" style="display: flex; flex-direction: column;">

              <mat-label class="is-text is-text--button price-real" *ngIf="!(course | courseExist)">

                {{ (course | courseExist)? 'En el carrito' : (course.price | currency:'Bs. ')}}</mat-label>

              <mat-label class="is-text is-text--title">
                {{ (course | courseExist)? 'En el carrito' : ((course.price /2) | currency:'Bs. ')}}</mat-label>
            </article>

          </article>

        </button>
      </section>
    </section>
  </section>
</article>
