@import 'variables';

.card {
  color: var(--color-dark-read-only);
  background-color: var(--color-neutral-30);
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #FFFFFF35;
  &-img {
    width: 100%;
    height: 350px;
    position: relative;
    &__content {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .date-container {
      @include captionText;
      top: 0px;
      right: 0px;
      padding: 8px;
      position: absolute;
      background-color: var(--color-dark-secondary);
      color: var(--color-dark-primary-container);
    }
  }
  &-img:hover {
    cursor: pointer;
    transition: 0.4s;
  }
  &-content {
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__header {
      display: flex;
      flex-direction: column;
      padding: 16px;
      &-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @include headlineSmallText;
        color: var(--color-tertiary-container);
      }
      &-description {
        height: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* number of lines to show */
                line-clamp: 5;
        -webkit-box-orient: vertical;
        @include bodySmallText;
        color: var(--color-neutral-99);
      }
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      border-top: 1px solid var(--color-outline);
      &-caption {
        @include bodyMediumText;
        color: var(--color-neutral-99);
      }
      &-left {
        display: flex;
        align-items: center;
      }
      &-right {
        display: flex;
        align-items: center;
      }
    }
  }
}

.price-content {
  color: var(--color-dark-read-only);
}

.card:hover {
  box-shadow: 0px 30px 60px #98406335;
}
