<article class="card">
  <figure matRipple [routerLink]="'/secure/cursos/detalle-curso/'+ course.id" class="card-img">
    <img class="card-img__content"
      [src]="course.banner || 'https://images.unsplash.com/photo-1592398276785-f636168c02e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80'"
      alt="inteligencia erótica banner del curso">
    <div class="on-bg"></div>
    <!-- <mat-label class="date-container">{{ project.dateStart?.toDate() | date }}</mat-label> -->
  </figure>
  <section class="card-content">
    <section class="card-content__header">
      <mat-label class="card-content__header-title mb-2">{{course.title}}</mat-label>
      <div class="card-content__header-description" [innerHTML]="course.description"></div>
      <mat-label>
        <mat-icon class="material-icons-outlined mr-4" aria-hidden="false" aria-label="payments">payments</mat-icon>
        <strong class="price-content">{{course.price/2 | currency:'Bs. '}}</strong>
      </mat-label>
    </section>
    <section class="card-content__footer">
      <section class="card-content__footer-left">
        <ngx-avatar class="mr-2" size="30" [name]="'PRR'"></ngx-avatar>
        <mat-label class="card-content__footer-caption">{{'Dr. Manuel Oquendo Cortez'}}</mat-label>
      </section>
      <section *ngIf="user?.role === 'ADMIN'" class="card-content__footer-right">
        <!-- <mat-label class="card-content__footer-caption">{{'project.committee'}}</mat-label> -->
        <button mat-icon-button color="warn" (click)="deleteData(swalSuccess)">
          <mat-icon class="material-icons-outlined icon-trash__color" aria-label="label">delete</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined" aria-label="label" (click)="editData()">edit</mat-icon>
        </button>
      </section>
    </section>
  </section>
</article>
<swal #swalSuccess title="Eliminado correctamente!" text="Los datos se eliminaron correctamente." icon="success"
  position="center" customClass="swalSuccess" [showCancelButton]="false" [showCancelButton]="false"
  [showConfirmButton]="false" [timer]="1500">
</swal>
