<mat-toolbar class="mat-elevation-z6">
  <button *ngIf="showBackButton" mat-icon-button (click)="btnEventEmitter.emit(true)">
    <mat-icon aria-label="icono de volver">arrow_back</mat-icon>
  </button>
  <div *ngFor="let route of routes; index as i">
    <mat-label class="label-text" [ngStyle]="{'color': (i === routes.length - 1) ? '#FFB0CB' : '#FFFFFF'}">{{route}}</mat-label>
    <mat-label class="label-text" *ngIf="!(i === routes.length - 1)">/</mat-label>
  </div>
  <span class="spacer"></span>
  <button *ngIf="showCloseButton" mat-icon-button (click)="btnEventEmitter.emit(true)">
    <mat-icon aria-label="icono de volver">close</mat-icon>
  </button>
</mat-toolbar>
