@import 'variables';
mat-toolbar {
  background-color: var(--color-neutral-30);
  color: var(--color-dark-read-only);
  .label-text {
    @include captionText;
    margin-right: 16px;
    opacity: 0.5;
  }
}
