@import 'variables';
.main-about {
  width: 100%;
  padding: 20px;
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 100px;
    padding-right: 100px;
  }
  &__image {
    margin: auto;
    background-color: var(--color-tertiary-container);
    box-shadow: 0px 30px 60px rgba(31, 26, 27, 0.25);
    width: 200px;
    height: 300px;
    position: relative;
    @include media-breakpoint-up(md) {
      width: 400px;
      height: 600px;
      margin: inherit;
      margin-right: 32px;
    }
    @include media-breakpoint-up(lg) {
      margin-right: 16px;
    }
    @include media-breakpoint-up(xl) {
      width: 550px;
      height: 750px;
    }
    .on-background {
      top: 15px;
      left: 15px;
      @include media-breakpoint-up(xl) {
        top: 30px;
        left: 30px;
      }
    }
    &-content {
      width: 100%;
      height: 100%;
      box-shadow: 0px 30px 60px rgba(31, 26, 27, 0.25);
      object-fit: cover;
      position: absolute;
      top: 15px;
      left: 15px;
      @include media-breakpoint-up(xl) {
        top: 30px;
        left: 30px;
      }
    }
  }

  &__info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include media-breakpoint-up(md) {
      align-items: flex-start;
      text-align: left;
      width: 50%
    }
    @include media-breakpoint-up(lg) {
      width: 55%
    }
    @include media-breakpoint-up(lg) {
      width: 50%
    }
    &-subtitle__text {
      color: var(--color-secondry);
      margin-bottom: 16px;
    }
    &-title__text {
      color: var(--color-primary);
      margin-bottom: 16px;
    }
    &-label {
      width: 100%;
      margin-bottom: 16px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-up(md) {
        justify-content: flex-start;
      }
      &__text {
        padding: 5px 10px;
        margin-right: 16px;
        border-radius: 20px;
        margin-bottom: 16px;
        background-color: var(--color-secondary);
      }
    }
    &-description__text {
      text-align: justify;
      color: var(--color-dark-read-only);
      @include media-breakpoint-up(xl) {
        text-align: left;
      }
    }
    &-btn {
      width: 100%;
      display: flex;
      flex-direction: column;
      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
      .btn-action {
        @include btn-content;
        margin-bottom: 16px;
        @include media-breakpoint-up(md) {
          margin-right: 16px;
        }
      }
      .btn-stroked {
        color: var(--color-primary);
        border: 1px solid var(--color-primary);

      }
      .btn-text {
        @include buttonText;
      }
    }
  }
}
