<section *ngIf="profile$">
  <app-title-section [title]="(profile$ | async)?.subtitle" *ngIf="routeAll === '/nosotros'"></app-title-section>
  <section class="main-about">
    <figure data-aos="fade-right" class="main-about__image">
      <img class="main-about__image-content" [src]="(profile$ | async)?.avatar" alt="inteligencia erótica fotografia del doctor">
      <div class="on-background"></div>
    </figure>
    <article data-aos="fade-left" class="main-about__info">
      <mat-label class="main-about__info-subtitle__text is-text is-text--title" *ngIf="routeAll !== '/nosotros'">
        {{(profile$ | async)?.subtitle}}
      </mat-label>
      <mat-label class="main-about__info-title__text is-text is-text--display">{{(profile$ | async)?.title}}</mat-label>
      <article class="main-about__info-label">
        <mat-label class="main-about__info-label__text is-text is-text--body is-color--white"
          *ngFor="let label of (profile$ | async)?.specialties">{{label}}</mat-label>
      </article>
      <div class="is-text is-text--body" [innerHTML]="(profile$ | async)?.description"></div>

      <int-ero-network-social class="mt-4"></int-ero-network-social>

      <section class="main-about__info-btn mt-4">
        <button class="btn-action" color="primary" mat-raised-button routerLink="/public/cursos">
          <mat-label class="is-text is-text--button">Comienza a aprender</mat-label>
        </button>
        <button class="btn-action btn-stroked" mat-button color="primary" routerLink="/public/nosotros">
          <mat-label class="is-text is-text--button">Acerca de Nosotros</mat-label>
        </button>
      </section>
    </article>
  </section>
</section>

