@mixin btn-content {
  color: var(--color-dark-on-surface);
  border-radius: 20px;
}
@mixin icon-content {
  width: 75px;
  height: 75px;
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
  border-radius: 50%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-tertiary-container);
}

