<section class="speciality-container">
  <article class="speciality-container__speciality-content">
    <ngx-avatar class="mb-4 speciality-icon" size="100" [name]="speciality.title" [src]="speciality.icon"></ngx-avatar>
    <mat-label class="speciality-container__speciality-content__title">{{speciality.title}}</mat-label>
    <mat-label class="speciality-container__speciality-content__description">{{speciality.description}}</mat-label>
  </article>
  <section *ngIf="user?.role === 'ADMIN'" class="speciality-container__info-action mt-4">
    <button mat-icon-button (click)="deleteData(swalSuccess)">
      <mat-icon class="material-icons-outlined icon-trash__color" aria-label="delete">delete</mat-icon>
    </button>
    <button mat-icon-button (click)="editData()">
      <mat-icon class="material-icons-outlined" aria-label="edit">edit</mat-icon>
    </button>
  </section>
</section>

<swal
  #swalSuccess
  title="Eliminado correctamente!"
  text="Los datos se eliminaron correctamente."
  icon="success"
  position="center"
  customClass="swalSuccess"
  [showCancelButton]="false"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="1500"
  >
</swal>
