@import 'variables';
.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    background-image: url("/../../../assets/img/login/login-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  };

  .columns {
    margin: 0px;
  }
  &-img {
    width: 100%;
    height: 350px;
    position: relative;
    @include media-breakpoint-up(lg) {
      display: none;
    };
    &__content {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__on-bg {
      width: 100%;
      height: 100%;
      background-color: #1B1B1D80;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }

  &-form {
    padding: 20px;
    background-color: var(--color-neutral-10);
    @include media-breakpoint-up(lg) {
      text-align: center;
      border-radius: 20px;
    };
    &__container-logo {
      margin: auto;
      width: 200px;
      height: 100px;
      object-fit: contain;
      position: absolute;
      top: 100px;
      right: calc(50% - 90px);
      @include media-breakpoint-up(lg) {
        position: inherit;
      };
    }
    &__container-inputs{
      padding: 20px;
      display: flex;
      flex-direction: column;
      color: var(--color-dark-secondary);
      background-color: var(--color-neutral-20);

      mat-label{
        color: var(--color-dark-secondary);
        @include labelLargeText;
      }
      @include media-breakpoint-up(md) {
        text-align: left;
      };
    }

  }

  .title-text {
    @include displaySmallText;
    position: absolute;
    top: 260px;
    right: calc(50% - 100px);
    color: var(--color-dark-tertiary);
    @include media-breakpoint-up(lg) {
      position: inherit;
      display: block;
      margin-bottom: 40px;
    };
  }
  .subtitle-text {
    @include headlineSmallText;
    margin-bottom: 16px;
    text-align: center;
    color: var(--color-dark-tertiary);
  }
  .check-text {
    text-align: right;
    margin-bottom: 16px;
  }
  .error-text {
    @include bodySmallText;
    color: var(--color-dark-error);
    text-align: center;
    margin-bottom: 16px;
  }
}

.column {
  @include media-breakpoint-up(lg) {
    margin-top: 100px;
  }
}
button.btn-submit{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 0px 9px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: var(--color-primary-container);
  height: 44px;
  .btn-icon {
    margin-right: 16px;
  }
}


.main-form {
  flex: 1 1 auto;
  background-color: var(--color-neutral-10);
  @include media-breakpoint-up(lg) {
    background-color: inherit;
    flex: none;
  }
}
