<section class="login">
  <figure class="login-img animate__animated animate__fadeInDown">
    <img class="login-img__content" src="assets/img/login/login-bg.jpg" alt="inteligencia erótica fondo de sesión">
    <div class="login-img__on-bg"></div>
  </figure>
  <section class="columns main-form">
    <article class="login-form column
                    is-12-mobile is-8-tablet is-4-desktop
                    is-offset-2-tablet is-offset-4-desktop">
      <form class="login-form__container" [formGroup]="loginForm" (ngSubmit)="login(swalSuccess)">
        <img class="login-form__container-logo animate__animated animate__fadeInRight" src="assets/img/logo.png" alt="imagen del logo">
        <section class="login-form__container-inputs animate__animated animate__fadeInUp">
          <mat-label class="subtitle-text">Inicia Sesión para continuar</mat-label>
          <section class="has-text-centered p-4">
            <mat-label class="is-text is-text--button">Ingresa por</mat-label>
            <button mat-button type="button" (click)="signInWithGoogle()">
              <img class="mr-2" src="assets/icons/google.svg" alt="google icon">
              <mat-label class="is-text is-text--button">Google</mat-label>
            </button>
            <mat-divider class="my-4"></mat-divider>
            <mat-label class="is-text is-text--title">O ingresa tu correo electronico</mat-label>
          </section>
          <div class="field">
            <mat-label class="label">Correo Electronico:</mat-label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="example@example.com" formControlName="email">
            </div>
            <div *ngFor="let errorMessage of errorsMessages.email">
              <ng-container *ngIf="email?.hasError(errorMessage.type) && (email?.dirty || email?.touched)">
                <mat-label class="help">
                  {{errorMessage.message}}
                </mat-label>
              </ng-container>
            </div>
          </div>
          <div class="field">
            <mat-label class="label">Contraseña:</mat-label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="password" placeholder="**********" formControlName="password">
              <button class="btn-icon is-right" type="button" mat-icon-button color="primary">
                <!-- <mat-icon aria-hidden="false" aria-label="">visibility</mat-icon> -->
              </button>
            </div>
            <div *ngFor="let errorMessage of errorsMessages.password">
              <ng-container *ngIf="password?.hasError(errorMessage.type) && (password?.dirty || password?.touched)">
                <mat-label class="help">
                  {{errorMessage.message}}
                </mat-label>
              </ng-container>
            </div>
          </div>
          <p class="check-text"><mat-checkbox color="primary" [checked]="checked" (change)="rememberCheck($event)">Recuérdame</mat-checkbox></p>

          <button [disabled]="!loginForm.valid" type="submit" mat-raised-button class="btn-submit">
            <mat-icon class="has-text-white btn-icon" aria-hidden="false" aria-label="icon-login">login</mat-icon>
            <mat-label class="btn-text">Ingresar</mat-label>
          </button>
        </section>
      </form>
    </article>
  </section>
</section>
<swal
  #swalSuccess
  title="¡Bienvenido!"
  text="Inicio de sesión correctamente"
  icon="success"
  position="center"
  [showCancelButton]="false"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="1500"
  >
</swal>
