@import 'variables';
.sidenav {
  width: 200px;
  background-color: var(--color-neutral-variant-20);

  .logo-container {
    width: 100%;
    height: 50px;
    margin-right: 24px;
    text-align: center;
    &__content {
      width: 100px;
      height: 100%;
    }
  }

  h3 {
    color: var(--color-dark-on-surface);
  }

}

.sidenav-content {
  overflow: hidden !important;
}

.active {
  color: var(--color-dark-primary);
  // border-top: 2px solid var(--color-dark-primary);
  border-bottom: 2px solid var(--color-dark-primary);
  border-radius: 0px;
}

.landing-container {
  padding-top: 90px;

  @include media-breakpoint-up(lg) {
    padding-top: 140px;
  }
}

.shopping-sidenav {
  width: 100%;
  @include media-breakpoint-up(md) {
    width: 50%;
    border-radius: 0px 20px;
  }
}

.button-social-fab {
  position: fixed;
  bottom: 50px;
  right: 40px;
  .a-menu-button:hover {
    background: #ffffff50 !important;
    transition: 0.3s;
  }
}

