<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z4 sidenav" position="end" mode="over">
    <mat-nav-list>
      <figure class="animate__animated animate__fadeInLeft logo-container">
        <img class="logo-container__content" src="assets/img/logo.png" alt="inteligencia erótica logotipo">
      </figure>
      <mat-list-item *ngFor="let link of links" [routerLink]="['./' + link.route]" routerLinkActive="active"
        (click)="closeSideNav()">
        <h3 matLine>{{link.label}}</h3>
      </mat-list-item>
      <mat-list-item routerLink="../login" (click)="closeSideNav()">
        <h3 matLine>Iniciar Sesión</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav #shoppingSidenav class="mat-elevation-z4 sidenav shopping-sidenav" position="start" mode="over">
    <int-ero-shopping-list (closeEventEmitter)="shoppingSidenav.toggle()"></int-ero-shopping-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-navbar (clickShoppingEventEmitter)="shoppingClick()" (clickMenuEventEmitter)="menuClick()"></app-navbar>
    <section class="landing-container">
      <router-outlet></router-outlet>
    </section>
    <int-ero-footer></int-ero-footer>
    <button class="button-social-fab" mat-fab color="primary" [matMenuTriggerFor]="menu" aria-label="Contactanos">
      <mat-icon>question_answer</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="is-bg--neutral20">
      <a mat-menu-item *ngFor="let link of linksSocialNetworks" [href]="link.route" target="_blank" class="a-menu-button is-bg--neutral20">
        <mat-icon class="mr-4">
          <img [src]="link.icon" [alt]="'inteligencia erótica ' + link.label">
        </mat-icon>
        <mat-label class="is-text is-text--caption has-cursor--pointer is-color--white">{{link.label}}</mat-label>
      </a>
    </mat-menu>
  </mat-sidenav-content>
</mat-sidenav-container>
