@import 'variables';

.list-container {
  color: var(--color-neutral-99);
  background-color: var(--color-neutral-variant-20);
  &__subhead {
    color: var(--color-neutral-99);
  }
  &__a {
    opacity: 0.5;
    color: var(--color-neutral-99);
    &-text{
      @include buttonText;
    }
    &-icon{
      margin-right: 16px;
    }
  }
  .active-route {
    opacity: 1;
    background: var(--color-primary-container);
    border-radius: 0px 20px 20px 0px;
  }
}
