<mat-nav-list class="list-container">
  <div matSubheader class="list-container__subhead">Panel de Control</div>
  <a class="list-container__a" mat-list-item
    *ngFor="let link of links | async"
    [routerLink]="link.link"
    routerLinkActive="active-route">
    <mat-icon class="material-icons-outlined list-container__a-icon mr-3" aria-label="icon">{{link.icon}}</mat-icon>
    <mat-label class="list-container__a-text">{{link.label}}</mat-label>
  </a>
</mat-nav-list>

