<section class="blog-carrousel">
  <section class="container my-6 has-text-centered">
    <mat-label class="is-text is-text--display is-color--tertiary--light">Inteligencia Erótica Blog</mat-label>
  </section>
  <swiper
    [config]="config"
    [spaceBetween]="(isHandset$ | async) ? 0 : 50"
    [slidesPerView]="(isHandset$ | async) ? 1 : 2"
    (slideChange)="verifyIndexActivate($event)"
    [slidesPerGroup]="1">
    <ng-template swiperSlide *ngFor="let blog of (blogs$ | async) | slice:0:3; index as i" class="swiper-content">
      <int-ero-blog-carrousel [index]="i" [realIndexSwiper]="realIndexSwiper" [blog]="blog"></int-ero-blog-carrousel>
    </ng-template>
  </swiper>
</section>

<app-learning-us></app-learning-us>

<section class="container mb-6">
  <mat-divider class="mt-6 mb-4"></mat-divider>
  <mat-toolbar class="is-bg--white mb-4">
    <span class="is-text is-text--subhead">Articulos recientes</span>
  </mat-toolbar>
  <section class="container p-4 course-container animate__animated animate__fadeInUp animate__slow">
    <section class="columns is-multiline">
      <article *ngFor="let blog of (blogs$ | async)" class="column is-12-mobile is-6-tablet is-4-desktop">
        <int-ero-blog-data [blog]="blog"></int-ero-blog-data>
      </article>
    </section>
  </section>
</section>
