@import 'variables';
.blog-carrousel {
  width: 100%;
  background: #EDE0DF;
  padding: 20px;

  @include media-breakpoint-up(md) {
    padding: 20px 0px;
  }
  .swiper-content:hover {
    box-shadow: 0px 9px 15px #b2b2b250;
  }
}

