
<article class="card">
  <figure matRipple class="card-img" >
    <img class="card-img__content" [src]="blog.banner || 'https://images.unsplash.com/photo-1592398276785-f636168c02e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80'" alt="inteligencia erótica baner">
    <div class="on-bg"></div>
    <!-- <mat-label class="date-container">{{ project.dateStart?.toDate() | date }}</mat-label> -->
  </figure>
  <section class="card-content">
    <section class="card-content__header">
      <mat-label class="card-content__header-title mb-2">{{blog.title}}</mat-label>
      <mat-label class="card-content__header-subtitle mb-2">{{blog.subtitle}}</mat-label>
      <div class="card-content__header-description" [innerHTML]="blog.description"></div>
    </section>
    <section class="card-content__footer">
      <a *ngIf="blog.url !== ''" mat-button [href]="blog.url" target="_blank" color="primary">
        <mat-label class="is-color--primary">Saber mas...</mat-label>
      </a>
      <span class="spacer"></span>
      <section *ngIf="user?.role === 'ADMIN'" class="card-content__footer-right">
        <!-- <mat-label class="card-content__footer-caption">{{'project.committee'}}</mat-label> -->
        <button mat-icon-button color="warn" (click)="deleteData(swalSuccess)">
          <mat-icon class="material-icons-outlined icon-trash__color" aria-label="label">delete</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined" aria-label="label" (click)="editData()">edit</mat-icon>
        </button>
      </section>
    </section>
  </section>
</article>
<swal
  #swalSuccess
  title="Eliminado correctamente!"
  text="Los datos se eliminaron correctamente."
  icon="success"
  position="center"
  customClass="swalSuccess"
  [showCancelButton]="false"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="1500"
  >
</swal>
