<div class="p-6">
  <section class="terms-container">

    <p style="font-size: 20px;"><strong>{{ "Generalidades sobre los Términos de Servicio." | uppercase }}</strong>
    </p>
    <br>
    <ul>
      <li>
        <p style="text-align:justify"><span style="color:#000000;"><span>La Compañía
              posee y opera el sitio inteligenciaerotica.com.bo. Le ofrecemos la posibilidad de aprender diversos temas
              de
              inteligencia erótica a través de nuestros cursos en línea.</span></span></p>
      </li>
    </ul>
    <ul>
      <li>
        <p style="text-align:justify"><span style="color:#000000;"><span>Lo
              siguiente es un breve resumen de determinados términos y condiciones que se incluyen en estos Términos de
              Servicio. No obstante, este resumen se proporciona únicamente para su comodidad; por lo tanto, usted
              debería
              leer todos los Términos de Servicio antes de aceptarlos.</span></span></p>
      </li>
    </ul>
    <br>
    <ul>
      <li>
        1. Para utilizar el Servicio, deberá registrarse y abrir una cuenta en
        inteligenciaerotica.com.bo.
      </li>
      <li>
        <p style="text-align:justify"><span style="color:#000000;"><span>
              2. Debe tener
              al menos 18 años de edad para aceptar estos Términos de Servicio</span></span></p>
      </li>
      <li>
        <p style="text-align:justify"><span style="color:#000000;"><span> 3. Nos
              reservamos el derecho, a nuestra discreción, de cambiar estos Términos de Servicio en cualquier momento,
              sin
              previo aviso.</span></span></p>
      </li>
    </ul>
    <p><br><br class="ProseMirror-trailingBreak"></p>
    <p style="font-size: 20px;"><strong>{{ "Descripción del Servicio." | uppercase}}</strong></p>
    <br>
    <ul>
      <li>
        <p><strong><span style="color:#000000;"><span>Acceso al Contenido de los cursos,
              </span></span></strong><span style="color:#000000;"><span>Usted puede acceder al contenido de
              inteligenciaerotica.com.bo la cantidad de veces que lo desee siempre que se haya suscrito al Servicio, se
              proporcionará el acceso a los cursos, sé dentro de las 48 horas después de haber realizado el depósito o
              transferencia a la cuenta de inteligenciaero</span></span><a href="tica.com." target="_blank"><span
              style="color:#000000;"><span>tica.com.bo</span></span></a></p>
      </li>
    </ul>
    <br>
    <ul>
      <li>
        <p style="text-align:justify"><strong><span style="color:#000000;"><span>Disponibilidad del servicio,
              </span></span></strong><span style="color:#000000;"><span>El servicio estará disponible las 24 horas
              del día y los 365 días del año</span></span><strong><span style="color:#000000;"><span>,
              </span></span></strong><span style="color:#000000;"><span>el usuario
              podrá acceder a los cursos desde cualquier dispositivo sin
              ninguna restricción.</span></span></p>
      </li>
    </ul>
    <br>
    <ul>
      <li>
        <p style="text-align:justify"><strong><span style="color:#000000;"><span>Métodos de pago,
              </span></span></strong><span style="color:#000000;"><span>El pago para
              el servicio se realizará a
              través de un depósito bancario a la cuenta de inteligenciaerotica.com.bo, posteriormente deberá mandar el
              comprobante del depósito o transferencia al correo inteligenciaeroticabo@gmail.com.</span></span></p>
      </li>
    </ul>
    <br>
    <p style="font-size: 20px;"><strong>{{"Restricciones." | uppercase}}</strong></p>
    <br>
    <ul>
      <li>
        <p style="text-align:justify"><strong><span style="color:#000000;"><span>Requisito de edad,
              </span></span></strong><span style="color:#000000;"><span>Usted debe
              tener al menos 18 años de edad
              para convenir y aceptar estos Términos de Servicio.</span></span></p>
      </li>
    </ul>
    <br>
    <h2 style="font-size: 20px;"><strong>{{"Propiedad intelectual." | uppercase}}</strong></h2>
    <br>
    <ul>
      <li>
        <p style="text-align:justify"><strong><span style="color:#000000;"><span>Derechos de autor,
              </span></span></strong><span style="color:#000000;"><span>El contenido de inteligenciaerotica.com.bo
              son de creación propia y están protegidos por las leyes aplicables de derechos de autor, por lo que está
              prohibida su reproducción total o parcial, al aceptar los términos y condiciones del servicio usted acepta
              cumplir con todas las leyes aplicables sobre protección de derechos de autor en relación con el uso del
              Servicio y del Contenido por parte de usted.</span></span></p>
      </li>
    </ul>
  </section>

</div>
