@import 'variables';

.terms-container {
  width: 100%;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    width: 80%;
  }

  @include media-breakpoint-up(lg) {
    width: 70%;
  }

  @include media-breakpoint-up(xl) {
    width: 60%;
  }
}
