
@import 'variables';
.main-course{
  background-image: url('/assets/img/courses/course-most-view.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 10.625rem;
  padding-left:16px ;
  padding-right: 23px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;

  &__title{
    @include headlineSmallText;
    color: var(--color-light-read-only);
    text-align: right;
  }

  .course-content {
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__footer {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      border-top: 1px solid var(--color-outline);
      &-caption {
        @include bodyMediumText;
        color: var(--color-neutral-99);
      }
      &-icon{
        color: var(--color-light-read-only);
      }
      &-left {
        display: flex;
        align-items: center;
      }
      &-right {
        display: flex;
        align-items: center;

      }
    }
  }
}


