<section class="main-course">
  <mat-label class="main-course__title mb-2">{{'Posiciones sexuales'}}</mat-label>
  <section style="display: flex; justify-content: space-between;">
    <section class="course-content__footer-left">
      <ngx-avatar class="mr-2" size="30" [src]="'project.volunter.avatar'" [name]="'Course'"></ngx-avatar>
      <mat-label class="course-content__footer-caption">{{'Dra. Mariana Salazar'}}</mat-label>
    </section>
    <section class="course-content__footer-right">
      <mat-icon class="course-content__footer-icon mr-2">add_shopping_cart</mat-icon>
      <mat-label class="course-content__footer-caption">{{'Bs. 196.00'}}</mat-label>
    </section>
  </section>
</section>
