<app-route-section *ngIf="!hiddenContainer" [showBackButton]="true" [routes]="['Cursos', 'Detalles']" (btnEventEmitter)="goBack()">
</app-route-section>
<section>
  <app-course-summary [hiddenContainer]="hiddenContainer"  [course]="course" (clickedShoppingButtonEmitter)="addCourseToShoppingCar()"></app-course-summary>
  <section class="is-bg--neutral30 columns is-multiline main-container m-0 p-4">
    <section class="column is-8 p-0 main-container__resources is-flex is-align-items-center">
      <div *ngIf="video" class="columns is-multiline p-0 m0">
        <section class="column is-12 main-container__resources-container">
          <int-ero-course-video-view [videoIndex]="videoIndex" [playlist]="playlist" [video]="video">
          </int-ero-course-video-view>
        </section>
      </div>
      <section>
        <int-ero-empty-state *ngIf="playlist && playlist.length === 0"></int-ero-empty-state>
      </section>
    </section>

    <section class="column is-4 main-container__syllabus">
      <section class="main-container__syllabus__header">
        <div class="is-flex is-flex-direction-row is-align-items-center">
          <mat-icon class="main-container__syllabus__header-icon mr-2 is-color--white">list</mat-icon>
          <mat-label class="main-container__syllabus__header-title is-color--white">Temario</mat-label>
        </div>
      </section>

      <mat-divider></mat-divider>

      <section class="main-container__syllabus__content">
        <mat-list role="list">
          <int-ero-course-data-list-view *ngFor="let data of playlist; index as i" [video]="data" [index]="i"
            [videoSelected]="video" (selectEventEmitter)="onClickPlaylistItem(data, i)"></int-ero-course-data-list-view>
        </mat-list>
      </section>

    </section>
  </section>

</section>

<int-ero-course-price *ngIf="!hiddenContainer"[showCardPrice]="true" [titleCourse]="course?.title" [price]="course?.price" (clickedShoppingButtonEmitter)="addCourseToShoppingCar()">
</int-ero-course-price>
