<app-route-section [showCloseButton]="true" [routes]="['Admin', 'Testimonio', 'Agregar']" (btnEventEmitter)="closeBtn()"></app-route-section>
<app-admin-title-section [title]="'Agregar Testimonio'"></app-admin-title-section>

<mat-divider></mat-divider>
<mat-label class="text-label">Los campos con * son obligatorios:</mat-label>
<form class="form-container" [formGroup]="dataForm" (ngSubmit)="addData(swalSuccess)">
  <section class="form-container__content">
    <div class="field mb-4">
      <mat-label class="label">Nombre*:</mat-label>
      <div class="control has-icons-left has-icons-right">
        <input class="input"
          type="text"
          required="true"
          placeholder="Nombre de la entrevistada"
          formControlName="name"
          [value]="dataForm.controls.name.value | titlecase">
      </div>
      <div *ngFor="let errorMessage of errorsMessages.name">
        <ng-container *ngIf="name?.hasError(errorMessage.type) && (name?.dirty || name?.touched)">
          <mat-label class="help">
            {{errorMessage.message}}
          </mat-label>
        </ng-container>
      </div>
    </div>
    <div class="field mb-4">
      <mat-label class="label">Testimonio *:</mat-label>
      <textarea class="textarea"
        type="text"
        placeholder="Descripción de la especialidad"
        formControlName="testimonial"
        rows="5">
      </textarea>
      <div *ngFor="let errorMessage of errorsMessages.testimonial">
        <ng-container *ngIf="testimonial?.hasError(errorMessage.type) && (testimonial?.dirty || testimonial?.touched)">
          <mat-label class="help">
            {{errorMessage.message}}
          </mat-label>
        </ng-container>
      </div>
    </div>
    <div class="field mb-4" *ngIf="countries">
      <mat-label class="label">Pais *:</mat-label>
      <mat-select placeholder="Pais de origen" formControlName="country">
        <mat-option *ngFor="let country of countries" [value]="country">
          <span [class]="'fi fi-' + country.alpha2"></span>
          <mat-label>{{country.name}}</mat-label>
        </mat-option>
      </mat-select>
    </div>
    <figure class="icon-content" *ngIf="dataForm.controls.name.value !== ''">
      <ngx-avatar class="mb-4 avatar-content" size="100" [name]="dataForm.controls.name.value" [src]="dataForm.controls.avatar.value"></ngx-avatar>
      <div class="file mb-4 is-color__primary">
        <label class="file-label">
          <input class="file-input" type="file" accept="*/image" name="resume" (change)="uploadFile($event)">
          <span class="file-cta">
            <mat-icon class="material-icons-outlined mr-4" aria-hidden="false" aria-label="cloud_upload">cloud_upload</mat-icon>
            <span class="file-label">
              Subir Avatar
            </span>
          </span>
        </label>
      </div>
    </figure>
    <mat-progress-bar *ngIf="stateUpload" [value]="uploadPercent | async" mode="determinate"></mat-progress-bar>
    <button class="mt-4" [disabled]="!dataForm.valid" mat-raised-button type="submit" color="primary">
      <mat-label class="btn-text">Guardar Cambios</mat-label>
    </button>
  </section>
</form>

<swal
  #swalSuccess
  title="Guardado correctamente!"
  text="Los datos se guardaron correctamente."
  icon="success"
  position="center"
  customClass="swalSuccess"
  [showCancelButton]="false"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="1500"
  >
</swal>
