<article class="social-network">
  <a class="social-network__icon mr-4" href="https://www.facebook.com/DoctorOquendoM" target="_blank" rel="noopener noreferrer">
    <span class="social-network__icon-content">
      <img src="assets/icons/facebook.svg" alt="facebook-icon">
    </span>
  </a>
</article>
