<section *ngIf="showCardPrice" class="price-container pt-6">
  <section class="price-container__content container is-max-widescreen">
    <mat-label class="is-text is-text--display is-text--center is-color--secondary--light">Accede a nuestro curso con tu Subscripción Mensual</mat-label>
    <article class="price-container__content-card has-text-centered animate__animated animate__pulse animate__infinite animate__slower">
      <mat-label class="is-text is-text--title is-color--tertiary--light">Precio del curso: <strong class="is-bold is-color--tertiary--light">{{titleCourse}}</strong> </mat-label>
      <section class="price-container__content-card__info">
        <mat-label class="mb-3 is-text is-text--caption"> <strong class="mensual-pay is-opacity--05">Pago Mensual</strong> </mat-label>
        <mat-label class="mb-3 is-text is-text--button real-minimal__price price-previous is-color--primary--light">Bs. {{price}}/mes</mat-label>
        <mat-label class="mb-3 is-text is-text--title real-minimal__price is-color--primary--light">Bs. {{price?price/2:0}}/mes</mat-label>
      </section>
      <section class="price-container__content-card__info" (click)="clickedShoppingButtonEmitter.emit(true)">
        <button class="mb-3 btn-action" mat-raised-button color="primary">
          <mat-label class="is-text is-text--button">Comprar Curso</mat-label>
        </button>
      </section>
    </article>
  </section>
  <span class="heart heart--1 animate__animated animate__swing  animate__infinite animate__slower">
    <img src="assets/icons/heart-1.svg" alt="heart-1">
  </span>
  <span class="heart heart--2">
    <img src="assets/icons/heart-2.svg" alt="heart-2">
  </span>
  <span class="heart heart--3">
    <img src="assets/icons/heart-3.svg" alt="heart-3">
  </span>
  <span class="heart heart--4 animate__animated animate__pulse animate__infinite ">
    <img src="assets/icons/heart-4.svg" alt="heart-4">
  </span>
  <span class="heart heart--5 animate__animated animate__swing  animate__infinite animate__slower">
    <img src="assets/icons/heart-5.svg" alt="heart-5">
  </span>
  <span class="heart heart--6 animate__animated animate__pulse animate__infinite ">
    <img src="assets/icons/heart-6.svg" alt="heart-6">
  </span>
</section>
<section *ngIf="showCardPrice" class="price-table">
  <mat-table class="table-content" [dataSource]="dataSource">
    <ng-container matColumnDef="detail">
      <mat-header-cell *matHeaderCellDef> <mat-label class="is-text is-text--title is-text--title-large"><strong class="is-color--primary--light">Beneficios que obtendrás del curso</strong></mat-label> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-label class="is-text is-text--body">
          {{element}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="check">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="is-color--primary--light" aria-hidden="false" aria-label="check icon">check</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</section>
