@import 'variables';

.price-container {
  background: radial-gradient(50% 291.88% at 100% 100%, #FFEDEC 0%, rgba(255, 237, 236, 0) 100%), radial-gradient(50% 291.88% at 0% 100%, rgba(64, 0, 7, 0.1) 0%, rgba(64, 0, 7, 0) 100%);
  height: 600px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;

    &-card {
      width: 350px;
      min-height: 400px;
      padding: 20px 50px;
      background: #FCFCFC;
      border: 1px solid rgba(152, 64, 99, 0.5);
      box-shadow: 0px 30px 60px rgba(178, 178, 178, 0.25);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 180px;

      .is-text--title {
        font-weight: 400;
        font-size: 28px;
      }

      .is-bold {
        font-weight: 700;
      }

      &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .mensual-pay {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.4px;
          color: #000000;
        }

        .minimal-price {
          color: #514347;

          &--description {
            color: #837377;
          }
        }

        .real-minimal__price {
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 36px;
          letter-spacing: 0.07em;
        }
      }
    }
  }
}

.btn-action {
  border-radius: 36px;
}

.heart {
  position: absolute;
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }

  &--1 {
    top: 0px;
    left: 7.99%;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &--2 {
    top: 45.49%;
    left: 7.99%;
    top: 54.62%;
    bottom: 43.4%;
    left: 0.27%;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &--3 {
    right: -0.39%;
    top: 53.41%;
    bottom: 44.61%;

    @include media-breakpoint-up(md) {
      display: block;
    }

  }

  &--4 {
    right: 17.99%;
    top: 59.06%;
    bottom: 37.66%;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &--5 {
    top: 0px;
    right: 7.93%;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &--6 {
    left: 23.58%;
    top: 58.47%;
    bottom: 39.4%;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}


.price-table {
  margin-top: 50px;
  padding: 20px;

  .table-content {
    background: #FCFCFC;
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: 50%;
      margin: auto;
    }

    .mat-column-check {
      max-width: 100px;
    }

    .mat-row:nth-child(even) {
      background-color: #FAEEEF80;
    }
  }
}

.price-previous {
  opacity: 0.8;
  text-decoration: line-through;
}
