@import 'variables';

.c-container{
  padding: 40px 60px;
  display: flex;
  flex-direction: column-reverse;
  text-align: justify;
  @include media-breakpoint-up(md) {
    flex-direction: row
  }
  @include media-breakpoint-up(lg) {
    padding: 60px 160px;
  }
  &__detail{
    &__content{
      &-main{

        &__icons{

          &-icon{
            color: var(--color-tertiary-container);
          }
        }
      }

      &-date{
        &__author{
          display: flex;
          align-items: center;

          &-name{
            @include bodyLargeText;
            color: var(--color-neutral-99);
          }
        }

        &__content{
          display: flex;

          &-hours,
          &-calendar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 66px;
            height: 65px;
            background-color: var(--color-neutral-30);
            padding: 10px;
            margin: 0 15px;
            color: var(--color-dark-tertiary);
            border-radius: 8px;
          }
        }
      }
    }
  }
}

.btn-action {
  border-radius: 20px;
}

.card-info-detail {
  width: 100px;
  height: 100px;
}
