<section class="columns c-container" [ngClass]="hiddenContainer === true?'p-0 m-0':''">
  <section class="column is-12-mobile c-container__detail"
    [ngClass]="hiddenContainer === true?'is-12-tablet':'is-6-tablet' ">

    <article class="colum c-container__detail__content-main">
      <mat-label class="is-text is-text--display mb-5 is-color--primary--light">{{course?.title}}</mat-label>
      <div class="c-container__detail__content-main__icons my-3">
        <mat-icon class="c-container__detail__content-main__icons-icon" *ngFor="let item of [0,1,2,3,4]">star</mat-icon>
      </div>

      <div class="is-text is-text--body" [innerHTML]="course?.description">
      </div>
    </article>

    <article class="colum c-container__detail__content-date">

      <section class="" [ngClass]="hiddenContainer === true?'is-flex is-align-items-center mt-4':''">
        <section class="c-container__detail__content-date__content my-2 mr-5" *ngIf="hiddenContainer">
          <article
            class="p-4 mr-4 has-border-radius--8 card-info-detail is-flex is-flex-direction-column is-align-items-center is-justify-content-center is-bg--neutral30">
            <mat-icon class="is-color--primary mb-2">timer</mat-icon>
            <mat-label class="is-text is-text--caption is-color--white">{{course?.timeDuration | number}} hora (s)
            </mat-label>
          </article>
          <article
            class="p-4 has-border-radius--8 card-info-detail is-flex is-flex-direction-column is-align-items-center is-justify-content-center is-bg--neutral30">
            <mat-icon class="is-color--primary mb-2">calendar_today</mat-icon>
            <mat-label class="is-text is-text--caption is-color--white">
              {{course?.dateStart?.toDate() | date:'shortDate'}}
            </mat-label>
          </article>
        </section>

        <section class="c-container__detail__content-date__author" [ngClass]="hiddenContainer === true?'':'mt-5'">
          <ngx-avatar class="mr-2" size="50"
            [src]="'https://firebasestorage.googleapis.com/v0/b/sex-coach-d4944.appspot.com/o/profile%2Fdr-coach.jpg?alt=media&token=4f1f684b-b918-4b30-825f-e1002ee16b37'"
            [name]="'PRR'"></ngx-avatar>
          <mat-label class="is-text is-text--caption ml-2">{{'Dr. Manuel Oquendo Cortez'}}</mat-label>
        </section>
      </section>


      <section class="c-container__detail__content-date__content my-4" *ngIf="!hiddenContainer">
        <article
          class="p-4 mr-4 has-border-radius--8 card-info-detail is-flex is-flex-direction-column is-align-items-center is-justify-content-center is-bg--neutral30">
          <mat-icon class="is-color--primary mb-2">timer</mat-icon>
          <mat-label class="is-text is-text--caption is-color--white">{{course?.timeDuration | number}} hora (s)
          </mat-label>
        </article>
        <article
          class="p-4 has-border-radius--8 card-info-detail is-flex is-flex-direction-column is-align-items-center is-justify-content-center is-bg--neutral30">
          <mat-icon class="is-color--primary mb-2">calendar_today</mat-icon>
          <mat-label class="is-text is-text--caption is-color--white">
            {{course?.dateStart?.toDate() | date:'shortDate'}}
          </mat-label>
        </article>
      </section>
      <button mat-raised-button class="btn-action" color="primary" (click)="clickedShoppingButtonEmitter.emit(true)"
        *ngIf="course">
        <mat-icon class="material-icons-outlined mr-2" aria-label="label">add_shopping_cart</mat-icon>
        <mat-label>Comprar por {{(course.price/2 | currency: 'Bs. ')}}</mat-label>
      </button>
    </article>
  </section>

  <section class="column is-12-mobile is-6-tablet c-container__image" *ngIf="!hiddenContainer">
    <figure class="main-about__image-container" style="width: 100%;">
      <img [src]="course?.banner" alt="inteligencia erótica" style="width: 100%;">
    </figure>
  </section>
  <section>

  </section>
</section>
