<app-route-section [showCloseButton]="true" [routes]="['Admin', 'Cursos', 'Editar']" (btnEventEmitter)="closeBtn()"></app-route-section>
<app-admin-title-section [title]="'Editar Curso'"></app-admin-title-section>
<mat-divider></mat-divider>
<mat-label class="text-label">Los campos con * son obligatorios:</mat-label>
<form class="form-container" [formGroup]="courseForm" (ngSubmit)="addData(swalSuccess)">
  <section class="form-container__content">
    <div class="field">
      <mat-label class="label">Titulo *:</mat-label>
      <div class="control has-icons-left has-icons-right">
        <input class="input"
          type="text"
          required="true"
          placeholder="Titulo del curso"
          formControlName="title"
          [value]="courseForm.controls.title.value | titlecase">
      </div>
      <div *ngFor="let errorMessage of errorsMessages.title">
        <ng-container *ngIf="title?.hasError(errorMessage.type) && (title?.dirty || title?.touched)">
          <mat-label class="help">
            {{errorMessage.message}}
          </mat-label>
        </ng-container>
      </div>
    </div>

    <div class="field">
      <mat-label class="label">Descripcion *:</mat-label>
      <textarea class="textarea"
        type="text"
        required="true"
        placeholder="Descripcion del curso"
        formControlName="description">
      </textarea>
      <div *ngFor="let errorMessage of errorsMessages.description">
        <ng-container *ngIf="title?.hasError(errorMessage.type) && (title?.dirty || title?.touched)">
          <mat-label class="help">
            {{errorMessage.message}}
          </mat-label>
        </ng-container>
      </div>
    </div>

    <div class="field">
      <mat-label class="label">Price (Bs)*:</mat-label>
      <div class="control has-icons-left has-icons-right">
        <input class="input"
          type="number"
          required="true"
          placeholder="150"
          formControlName="price">
      </div>
      <div *ngFor="let errorMessage of errorsMessages.price">
        <ng-container *ngIf="price?.hasError(errorMessage.type) && (price?.dirty || price?.touched)">
          <mat-label class="help">
            {{errorMessage.message}}
          </mat-label>
        </ng-container>
      </div>
    </div>
    <div class="field">
      <mat-label class="label">Fecha de inicio *:</mat-label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" [matDatepicker]="picker" placeholder="Fecha de inicio" formControlName="dateStart">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
    <figure class="icon-content" *ngIf="courseForm.controls.title.value !== ''">
      <img class="banner-img mb-4" [src]="courseForm.controls.banner.value || ''" alt="inteligencia erótica banner del curso">
      <div class="on-background" *ngIf="stateUpload">
        <mat-progress-spinner [value]="uploadPercent | async" mode="determinate" color="accent"></mat-progress-spinner>
      </div>
      <div class="file mb-4 is-color__primary">
        <label class="file-label">
          <input class="file-input" type="file" accept="*/image" name="resume" (change)="uploadFile($event, swalSuccess)">
          <span class="file-cta">
            <mat-icon class="material-icons-outlined mr-4" aria-hidden="false" aria-label="cloud_upload">cloud_upload</mat-icon>
            <span class="file-label">
              Subir imagen
            </span>
          </span>
        </label>
      </div>
    </figure>
    <button class="mt-4" [disabled]="!courseForm.valid" mat-raised-button type="submit" color="primary">
      <mat-label class="btn-text">Guardar Cambios</mat-label>
    </button>
  </section>
</form>

<swal
  #swalSuccess
  title="Guardado correctamente!"
  text="Los datos se guardaron correctamente."
  icon="success"
  position="center"
  customClass="swalSuccess"
  [showCancelButton]="false"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="1500"
  >
</swal>

