<app-route-section [showCloseButton]="true" [routes]="['Admin', 'Cursos', 'Editar', 'Video']" (btnEventEmitter)="closeBtn()"></app-route-section>
<app-admin-title-section [title]="'Editar Video'"></app-admin-title-section>
<mat-divider></mat-divider>
<mat-label class="text-label">Los campos con * son obligatorios:</mat-label>
<form class="form-container" [formGroup]="dataForm" (ngSubmit)="save(swalSuccess)">
  <section class="form-container__content">
    <section>
      <div class="field">
        <mat-label class="label">Titulo *:</mat-label>
        <div class="control has-icons-left has-icons-right">
          <input class="input"
            type="text"
            required="true"
            placeholder="Titulo del video"
            formControlName="title"
            [value]="dataForm.controls.title.value | titlecase">
        </div>
        <div *ngFor="let errorMessage of errorsMessages.title">
          <ng-container *ngIf="title?.hasError(errorMessage.type) && (title?.dirty || title?.touched)">
            <mat-label class="help">
              {{errorMessage.message}}
            </mat-label>
          </ng-container>
        </div>
      </div>

      <div class="field">
        <mat-label class="label">Descripcion *:</mat-label>
        <textarea class="textarea"
          type="text"
          required="true"
          placeholder="Descripcion del video"
          formControlName="description">
        </textarea>
        <div *ngFor="let errorMessage of errorsMessages.description">
          <ng-container *ngIf="title?.hasError(errorMessage.type) && (title?.dirty || title?.touched)">
            <mat-label class="help">
              {{errorMessage.message}}
            </mat-label>
          </ng-container>
        </div>
      </div>
    </section>
    <button class="mt-4" [disabled]="!dataForm.valid" mat-raised-button type="submit" color="primary">
      <mat-label class="btn-text">Guardar Cambios</mat-label>
    </button>
  </section>
</form>

<swal
  #swalSuccess
  title="Agregado correctamente!"
  text="Los datos se agregaron correctamente."
  icon="success"
  position="center"
  customClass="swalSuccess"
  [showCancelButton]="false"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="1500"
  >
</swal>
