@import 'variables';
header {
  position: fixed;
  z-index: 99;
  width: 100%;
  min-height: 85px;
  background-color: var(--color-neutral-variant-20);
  overflow-y: hidden;
  padding: 20px;
  @include media-breakpoint-up(md) {
    padding-left: 80px;
    padding-right: 80px;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 160px;
    padding-right: 160px;
  }
  .spacer {
    flex: 1 auto;
  }

  .navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    .button-container {
      display: none;

      @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
      }

      &--right {
        display: flex;
        align-items: center;
      }
    }
    &__logo-container {
      width: 100px;
      height: 50px;
      margin-right: 24px;
      cursor: pointer;
      @include media-breakpoint-up(lg) {
        width: 200px;
        height: 100px;
      }
      &__content {
        width: 100%;
        height: 100%;
      }
    }

    .btn-content__action {
      margin-left: 16px;
    }

    .btn-action__container {
      display: none;
      @include media-breakpoint-up(lg) {
        display: inline-block;
      }
    }

    .btn-icon__menu-container {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    .btn-content, .btn-content__action {
      @include btn-content;

      .btn-text {
        margin-left: 16px;
        @include buttonText;
      }
    }

    .btn-content:after,
    .btn-content:before {
      backface-visibility: hidden;
      border: 1px solid rgba(#FFB0CB, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }

    .btn-content:hover:after,
    .btn-content:hover:before {
      backface-visibility: hidden;
      border-color: var(--color-dark-primary);
      transition: width 350ms ease-in-out;
      width: 100%;
    }

    .btn-content:hover:before {
      bottom: auto;
      top: 0;
      width: 100%;
    }
    .active {
      color: var(--color-dark-primary);
      // border-top: 2px solid var(--color-dark-primary);
      border-bottom: 2px solid var(--color-dark-primary);
      border-radius: 0px;
    }
  }

}

.a-label-nav {
  @include media-breakpoint-up(lg) {
    font-size: 16px !important;
  }
}

