<header>
  <nav class="navbar-container container">
    <figure [routerLink]="['./']" class="animate__animated animate__fadeInLeft navbar-container__logo-container">
      <img class="navbar-container__logo-container__content" src="assets/img/logo.png" alt="inteligencia erótica logotipo">
    </figure>
    <section class="button-container">
      <a class="btn-content animate__animated animate__fadeInDown" mat-button *ngFor="let link of links"
        [routerLink]="['./' + link.route]" routerLinkActive="active">
        <mat-label class="a-label-nav is-text is-text--button">
          {{link.label}}
        </mat-label>
      </a>
    </section>
    <span class="spacer"></span>
    <section class="button-container--right animate__animated animate__fadeInRight">
      <button *ngIf="(courseList$ | async)?.length !== 0" mat-icon-button (click)="clickShoppingEventEmitter.emit(true);">
        <mat-icon class="material-icons-outlined is-color--white" [matBadge]="(courseList$ | async)?.length" aria-label="label">shopping_cart</mat-icon>
      </button>
      <button class="btn-content__action btn-action__container" mat-raised-button routerLink="/login" color="primary">
        <mat-icon class="mr-2 material-icons-outlined" aria-label="login">login</mat-icon>
        <mat-label class="is-text is-text--button">Iniciar Sesión</mat-label>
      </button>
      <button class="btn-content btn-icon__menu-container" mat-icon-button (click)="clickMenuEventEmitter.emit(true)">
        <mat-icon class="material-icons-outlined" aria-label="label">menu</mat-icon>
      </button>
    </section>
  </nav>
</header>
