<app-route-section [routes]="['Inteligencia erótica', 'Cursos']"></app-route-section>
<app-admin-title-section [title]="'Lista de cursos'"></app-admin-title-section>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
<section *ngIf="courses" class="main-container">
  <section class="main-container__content">
    <mat-toolbar class="filter-toolbar mb-4">
      <mat-toolbar-row>
        <div class="field">
          <div class="control has-icons-left has-icons-left">
            <mat-icon aria-hidden="false" color="primary" aria-label="search icon">search</mat-icon>
            <input class="input pl-4" type="text" placeholder="Nombre del curso" [(ngModel)]="dataToSearch">
          </div>
        </div>
        <span class="spacer"></span>
        <button  (click)="addCourse()" *ngIf="(!(isHandset$ | async)) && user?.role === 'ADMIN'" mat-raised-button color="primary">
          <mat-label>Nuevo curso</mat-label>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="(isHandset$ | async)">
        <span class="spacer"></span>
        <button *ngIf="user?.role === 'ADMIN'" (click)="addCourse()" mat-raised-button color="primary">
          <mat-label>Nuevo curso</mat-label>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <section *ngIf="courses.length !== 0" class="columns is-multiline p-4">
      <article *ngFor="let course of courses" class="column is-12-mobile is-6-tablet is-4-desktop">
        <app-course-container [user]="user" [course]="course"></app-course-container>
      </article>
    </section>

    <section *ngIf="courses.length === 0">
      <int-ero-empty-state [btnTitle]="'Agregar nuevo curso'" (btnEventEmitter)="addCourse()"></int-ero-empty-state>
    </section>
  </section>
</section>

