<!-- <app-construction [mode]="'dark'" [title]="'usuarioss'"></app-construction> -->

<app-route-section [routes]="['Inteligencia erótica', 'Usuarios']"></app-route-section>
<app-admin-title-section [title]="'Lista de usuarios'"></app-admin-title-section>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
<section *ngIf="users && user?.role === 'ADMIN'" class="main-container">
  <section class="main-container__content">
    <mat-toolbar class="filter-toolbar mb-4">
      <mat-toolbar-row>
        <div class="field">
          <div class="control has-icons-left has-icons-left">
            <mat-icon aria-hidden="false" color="primary" aria-label="search icon">search</mat-icon>
            <input class="input pl-4" type="text" placeholder="Nombre del usuario" [(ngModel)]="dataToSearch">
          </div>
        </div>
        <span class="spacer"></span>
        <button (click)="addNewData()" *ngIf="(!(isHandset$ | async) && user?.role === 'ADMIN')" mat-raised-button color="primary">
          <mat-label>Nuevo usuario</mat-label>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="(isHandset$ | async)">
        <span class="spacer"></span>
        <button *ngIf="user?.role === 'ADMIN'" (click)="addNewData()" mat-raised-button color="primary">
          <mat-label>Nuevo usuarios</mat-label>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <section *ngIf="users.length !== 0" class="data">
      <section class="data-container">
        <int-ero-user-list [dataSource]="users"></int-ero-user-list>
      </section>
    </section>

    <section *ngIf="users.length === 0">
      <int-ero-empty-state [btnTitle]="'Agregar nuevo usuario'" (btnEventEmitter)="addNewData()"></int-ero-empty-state>
    </section>
  </section>
</section>

<section *ngIf="user?.role === 'SUBSCRIBER'" class="main-container">
  <int-ero-empty-state [title]="'Acceso restringido'" [text]="'Lo sentimos, no tienes permisos para visualizar los datos'"></int-ero-empty-state>
</section>
