@import 'variables';

.card {
  color: var(--color-light-read-only);
  background-color: var(--color-neutral-95);
  overflow: hidden;
  border: 1px solid #9D8C9025;
  border-radius: 8px;
  &-img {
    width: 100%;
    height: 300px;
    position: relative;
    &__content {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .date-container {
      @include captionText;
      top: 0px;
      right: 0px;
      padding: 8px;
      position: absolute;
      background-color: var(--color-dark-secondary);
      color: var(--color-dark-primary-container);
    }
  }
  &-content {
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__header {
      display: flex;
      flex-direction: column;
      padding: 16px;
      &-title {
        color: var(--color-light-secondary);
      }
      &-description {
        height: 100px;
        overflow: auto;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* number of lines to show */
                line-clamp: 5;
        -webkit-box-orient: vertical;
        color: var(--color-light-read-only);
      }
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      border-top: 1px solid var(--color-outline);
      &-caption {
        @include bodyMediumText;
        color: var(--color-light-read-only);
      }
      &-left {
        display: flex;
        align-items: center;
      }
      &-right {
        display: flex;
        align-items: center;
      }
    }
  }
}

.card:hover {
  box-shadow: 0px 30px 60px var(--color-outline);
  transition: 0.5s;
  cursor: pointer;
}
