
<article class="card" *ngIf="blog">
  <figure class="card-img" >
    <img class="card-img__content" [src]="blog?.banner || 'https://images.unsplash.com/photo-1592398276785-f636168c02e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80'" alt="inteligencia erótica banner del curso">
    <div class="on-bg"></div>
    <!-- <mat-label class="date-container">{{ project.dateStart?.toDate() | date }}</mat-label> -->
  </figure>
  <section class="card-content">
    <section class="card-content__header">
      <mat-label class="card-content__header-title mb-2"> <strong class="is-text is-text--title is-color--primary--light">{{blog.title}}</strong></mat-label>
      <div class="card-content__header-description is-text is-text--body" [innerHTML]="blog.description"></div>
    </section>
    <section class="card-content__footer">
      <section class="card-content__footer-right">
        <a *ngIf="blog.url !== ''" mat-button [href]="blog.url" target="_blank" color="primary">
          <mat-label class="is-color--primary--light">Saber mas...</mat-label>
        </a>
      </section>
      <section class="card-content__footer-left">
        <mat-label class="is-text is-text--caption">{{blog.datePublish.toDate() | date}}</mat-label>
      </section>
    </section>
  </section>
</article>
