<app-route-section [showCloseButton]="true" [routes]="['Admin', 'Blog', 'Agregar']" (btnEventEmitter)="closeBtn()"></app-route-section>
<app-admin-title-section [title]="'Agregar Blog'"></app-admin-title-section>

<mat-divider></mat-divider>
<mat-label class="text-label">Los campos con * son obligatorios:</mat-label>
<form class="form-container" [formGroup]="dataForm" (ngSubmit)="addData(swalSuccess)">
  <section class="form-container__content">
    <div class="field mb-4">
      <mat-label class="label">Titulo*:</mat-label>
      <div class="control has-icons-left has-icons-right">
        <input class="input"
          type="text"
          required="true"
          placeholder="Titulo de la especialidad"
          formControlName="title"
          [value]="dataForm.controls.title.value | titlecase">
      </div>
      <div *ngFor="let errorMessage of errorsMessages.title">
        <ng-container *ngIf="title?.hasError(errorMessage.type) && (title?.dirty || title?.touched)">
          <mat-label class="help">
            {{errorMessage.message}}
          </mat-label>
        </ng-container>
      </div>
    </div>
    <div class="field mb-4">
      <mat-label class="label">Subtitulo*:</mat-label>
      <div class="control has-icons-left has-icons-right">
        <input class="input"
          type="text"
          required="true"
          placeholder="Titulo de la especialidad"
          formControlName="subtitle"
          [value]="dataForm.controls.subtitle.value | titlecase">
      </div>
      <div *ngFor="let errorMessage of errorsMessages.subtitle">
        <ng-container *ngIf="subtitle?.hasError(errorMessage.type) && (subtitle?.dirty || subtitle?.touched)">
          <mat-label class="help">
            {{errorMessage.message}}
          </mat-label>
        </ng-container>
      </div>
    </div>
    <div class="field mb-4">
      <mat-label class="label">Categoria *:</mat-label>
      <mat-select placeholder="Blog propio o compartido" formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">
          <mat-label>Blog {{category === 'shared'? 'Compartido':'Propio'}}</mat-label>
        </mat-option>
      </mat-select>
    </div>
    <div class="field mb-4">
      <mat-label class="label">Description *:</mat-label>
      <textarea class="textarea"
        type="text"
        placeholder="Descripción de la especialidad"
        formControlName="description"
        rows="5">
      </textarea>
    </div>
    <div class="field mb-4" *ngIf="dataForm.controls.category.value === 'shared'">
      <mat-label class="label">Url *:</mat-label>
      <div class="control has-icons-left has-icons-right">
        <input class="input"
          type="url"
          placeholder="https://www.facebook.com/"
          formControlName="url">
      </div>
    </div>
    <div class="field">
      <mat-label class="label">Fecha de publicación *:</mat-label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" [matDatepicker]="picker" placeholder="Fecha de inicio" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
    <figure class="icon-content" *ngIf="dataForm.controls.title.value !== ''">
      <img class="banner-img mb-4" [src]="dataForm.controls.banner.value" alt="banner del curso">
      <div class="on-background" *ngIf="stateUpload">
        <mat-progress-spinner [value]="uploadPercent | async" mode="determinate" color="primary"></mat-progress-spinner>
      </div>
      <div class="file mb-4 is-color__primary">
        <label class="file-label">
          <input class="file-input" type="file" accept="*/image" name="resume" (change)="uploadFile($event)">
          <span class="file-cta">
            <mat-icon class="material-icons-outlined mr-4" aria-hidden="false" aria-label="cloud_upload">cloud_upload</mat-icon>
            <span class="file-label">
              Subir imagen
            </span>
          </span>
        </label>
      </div>
    </figure>
    <button class="mt-4" [disabled]="!dataForm.valid" mat-raised-button type="submit" color="primary">
      <mat-label class="btn-text">Agregar</mat-label>
    </button>
  </section>
</form>

<swal
  #swalSuccess
  title="Agregado correctamente!"
  text="Los datos se agregaron correctamente."
  icon="success"
  position="center"
  customClass="swalSuccess"
  [showCancelButton]="false"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="1500"
  >
</swal>
