@import 'variables';
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-container {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 50px;
  .mat-table {
    background: var(--color-neutral-20) !important;
    border-radius: 4px;
    border: 0.2px solid rgba(255, 255, 255, 0.12);
    width: 800px;
    @include media-breakpoint-up(md) {
      width: 100%;
    }
    mat-header-row {
      background-color: var(--color-neutral-40);
      mat-header-cell {
        color: var(--color-dark-read-only);
      }
    }

    .mat-cell, .mat-header-cell {
      padding: 16px;
    }

    .mat-row:nth-child(odd){
      background-color: var(--color-neutral-40);
    }

    .mat-column-action {
      max-width: 100px;
    }

    .mat-table-sticky-border-elem-right {
      border-left: 0.5px solid var(--ion-color-outline);
    }

    .mat-table-sticky-border-elem-left {
      border-right: 0.5px solid var(--ion-color-outline);
    }
  }
}

.mat-paginator {
  background-color: inherit !important;
  color: var(--color-dark-read-only) !important;
}

.dialog-toolbar {
  background-color: var(--color-neutral-20) !important;
  color: var(--color-dark-read-only) !important;
  .spacer {
    flex: 1 1 auto;
  }

  .title-text {
    @include titleSmallText;
    color: var(--color-dark-secondary);

    @include media-breakpoint-up(md) {
      @include titleMediumText;
    }
    @include media-breakpoint-up(lg) {
      @include titleLargeText;
    }
  }
}

.modal-form {
  mat-dialog-container {
    padding: 0;
    border-radius: 10px;
    background-color: var(--color-neutral-variant-10);
    .text-label {
      @include bodySmallText;
      display: block;
      margin: 10px 16px;
      color: var(--color-dark-read-only);

      @include media-breakpoint-up(md) {
        @include bodyMediumText;
      }

      @include media-breakpoint-up(md) {
        @include bodyLargeText;
      }
    }
  }
}

.btn-text {
  @include buttonText;
  color: var(--color-dark-read-only);
}

.field {
  .mat-select {
    height: 50px;
    border-radius: 4px;
    background-color: var(--color-neutral-40);
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.5em;
    padding-right: 10px;
    border: 1px solid var(--color-outline);
    .mat-select-value {
      color: var(--color-dark-read-only);
    }
    .mat-select-arrow {
      color: var(--color-dark-primary);
    }
  }
  .mat-datepicker-toggle {
    position: absolute;
    right: 0px;
    top: 4px;
    color: var(--color-dark-primary) !important;
  }
}

.mat-select-placeholder {
  opacity: 0.5;
  color: var(--color-dark-read-only) !important;
}

.mat-divider {
  border-top-color: var(--color-outline) !important;
}

.filter-toolbar {
  background-color: inherit !important;
  color: var(--color-dark-read-only) !important;
}

.spacer {
  flex: 1 1 auto;
}

.icon-trash__color {
  color: var(--color-error);
}

.mat-tab-label {
  color: var(--color-dark-primary) !important;
}

.mat-tab-body-content {
  overflow-x: hidden !important;
}


.is-opacity {
  opacity: 1;
  &--05 {
    opacity: 0.5;
  }
  &--08 {
    opacity: 0.8;
  }
}


.text-decoration__content {
  text-decoration: underline;
  transition: 1s;
}

.has-cursor {
  &--pointer {
    cursor: pointer;
  }
}


.on-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #00000090;
  display: flex;
  align-items: center;
  justify-content: center;
}


.has-border-radius {
  &--8 {
    border-radius: 8px;
  }
}

.has-opacity {
  &--1 {
    opacity: 0.1;
  }

  &--2 {
    opacity: 0.2;
  }

  &--3 {
    opacity: 0.3;
  }

  &--4 {
    opacity: 0.4;
  }

  &--5 {
    opacity: 0.5;
  }

  &--6 {
    opacity: 0.6;
  }

  &--7 {
    opacity: 0.7;
  }

  &--8 {
    opacity: 0.8;
  }

  &--9 {
    opacity: 0.9;
  }

  &--10 {
    opacity: 1;
  }
}

.has-border {
  &--bottom {
    border-bottom: 1px solid var(--color-dark-outline);
  }

  &--top {
    border-top: 1px solid var(--color-dark-outline);
  }
}


.is-full {
  &--w {
    width: 100%;
  }

  &--h {
    height: 100%;
  }
}

.has-cursor {
  &--pointer {
    cursor: pointer !important;
  }
}

.mat-row {
  transition: 0.3s;
}

.mat-row {
  &--selected {
    &--even {
      background-color: #FFFFFF15 !important;
    }
    &--odd {
      background-color: #FFFFFF50 !important;
    }
  }
}
