// Inputs styles
@import 'variables';
.field {
  text-align: left;
  .label {
    @include labelMediumText;
    color: var(--color-dark-secondary);
  }
  .control {
    height: 50px;
    .input {
      height: 100%;
      @include bodyMediumText;
      background-color: var(--color-neutral-40);
      color: var(--color-dark-read-only);
      border: 1px solid var(--color-outline);
    }
    .input::placeholder {
      color: var(--color-dark-read-only);
      opacity: 0.5; /* Firefox */
    }
    .btn-icon {
      position: absolute;
      right: 0px;
      z-index: 4;
    }
  }
  .help {
    @include captionText;
    color: var(--color-error);
  }
}

.is-color__primary {
  .file-cta {
    background-color: var(--color-dark-primary);
    color: var(--color-dark-primary-container);
  }

  .file-cta:hover {
    background-color: var(--color-dark-secondary);
    transition: 0.4s;
    box-shadow: 0px 30px 60px #B2B2B235;
  }
}

.textarea {
  background-color: var(--color-neutral-40);
  color: var(--color-dark-read-only);
}

.textarea::placeholder {
  color: var(--color-dark-read-only);
  opacity: 0.5; /* Firefox */
}

.is-color__primary {
  background-color: var(--color-dark-primary) !important;
  color: var(--color-secondary);
  max-width: 172.05px;
  border-radius: 8px;
}
