.avatar-content .widow-outline {
  outline: 10px solid rgba(255, 176, 203, 0.12);
}

.avatar-content {
  outline: 10px solid rgba(255, 176, 203, 0.12);
  object-fit: cover !important;
}

.navbar-container {
  .avatar-content {
    object-fit: cover !important;
    outline: none !important;
  }
}
