@import 'variables';

.int-ero-footer {
  background-color: var(--color-neutral-variant-20);

  .footer-logo__container {
    @include media-breakpoint-up(lg) {
      text-align: center;
    }

    .footer-logo {
      width: 200px;

    }
  }

  ul {
    list-style: none;

  }
}

a:visited {
  color: var(--color-dark-primary);
}

a:focus {
  color: var(--color-dark-primary);
}

a {
  .a-label:hover {
    color: var(--color-dark-primary);
    transition: 0.3s;
  }
}

.input-footer::placeholder {
  color: #ffffff80;
}

.input-footer {
  border: none;
}

.input-footer:focus {
  border: 1px solid #ffffff25;
}


.image-social-message:hover {
  width: 50px;
  height: 50px;
  transition: 0.8s ease-in-out;
  box-shadow: 0px 30px 60px #b2b2b225;
}
