<footer class="footer int-ero-footer">
  <section class="container p-4">
    <section class="footer-logo__container">
      <img class="footer-logo" src="assets/img/logo.png" alt="logo inteligencia erotica">
    </section>
    <mat-divider class="my-4"></mat-divider>
    <section class="columns is-multiline mt-2">
      <article class="column is-12-mobile is-6-tablet is-4-desktop">
        <mat-label class="is-text is-text--captio is-color--primary"><strong class="is-color--primary">Sigue
            navegando</strong></mat-label>
        <ul class="mt-4 pl-4">
          <li *ngFor="let link of links" class="mb-4">
            <a class="a-router-link" [routerLink]="link.route">
              <mat-label class="a-label is-text is-text--button is-color--white">
                {{link.label}}
              </mat-label>
            </a>
          </li>
        </ul>
      </article>
      <article class="column is-12-mobile is-6-tablet is-4-desktop">
        <mat-label class="is-text is-text--captio is-color--primary"><strong class="is-color--primary">Síguenos en
            nuestras redes sociales</strong></mat-label>
        <ul class="mt-4 pl-4">
          <li *ngFor="let link of socialLinks" class="mb-4">
            <a [href]="link.route" target="_blank" class="a-router-link is-flex is-align-items-center">
              <img class="mr-4 is-color--white" [src]="link.icon" [alt]="link.label">
              <mat-label class="a-label is-text is-text--button is-color--white">
                {{link.label}}
              </mat-label>
            </a>
          </li>
        </ul>
      </article>
      <article class="column is-12-mobile is-6-tablet is-4-desktop">
        <mat-label class="is-text is-text--captio is-color--primary"><strong
            class="is-color--primary">Contáctanos</strong></mat-label>
        <form [formGroup]="dataForm" class="mt-4 pl-4" (ngSubmit)="sendDataIntoForm()">
          <mat-label class="is-text is-text--body is-color--primary">Ingresa tu correo electrónico:</mat-label>
          <input class="input mb-4 is-bg--neutral30 input-footer is-color--white" type="email"
            placeholder="ejemplo@ejemplo.com">
          <button mat-raised-button color="primary" class="btn-action" type="submit">
            <mat-label class="is-text is-text--button">Contáctame</mat-label>
          </button>
          <mat-progress-bar *ngIf="state" mode="indeterminate"></mat-progress-bar>
        </form>
        <mat-divider class="my-4"></mat-divider>
        <mat-label class="is-text is-text--captio is-color--primary"><strong class="is-color--primary">O mándanos un
            mensaje</strong></mat-label>
        <section class="is-flex is-align-items-center p-4">
          <a *ngFor="let link of contactNetworks" [href]="link.route" target="_blank"
            class="a-router-link is-flex is-align-items-center">
            <img class="image-social-message mr-4 is-color--white" [src]="link.icon" [alt]="link.label">
          </a>
        </section>
      </article>
    </section>
    <mat-divider class="my-4"></mat-divider>
    <section class="is-flex is-align-items-center is-justify-content-center">
      <span class="spacer"></span>
      <mat-label class="is-text is-text--caption is-color--primary">© Copyright 2022 by DevCode</mat-label>
    </section>
  </section>
</footer>
