@import 'variables';

.form-container {
  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--color-neutral-20);
    color: #FCFCFC;
  }
}


.icon-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .banner-img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
  }
}
