<app-route-section [showCloseButton]="true" [routes]="['Admin', 'Cursos', 'Agregar', 'Video']" (btnEventEmitter)="closeBtn()"></app-route-section>
<app-admin-title-section [title]="'Agregar Video'"></app-admin-title-section>
<mat-divider></mat-divider>
<mat-label class="text-label">Los campos con * son obligatorios:</mat-label>
<form class="form-container" [formGroup]="dataForm" (ngSubmit)="addData(swalSuccess)">
  <section class="form-container__content">
    <mat-progress-bar  *ngIf="stateUpload" [value]="uploadPercent | async" mode="determinate"></mat-progress-bar>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-label class="is-color--primary mr-4" *ngIf="uploadPercent">{{ (uploadPercent | async )?.toFixed(2)}} %</mat-label>
        <mat-label class="is-color--white" *ngIf="file">{{ file.name }}</mat-label>
        <span class="spacer"></span>
        <div class="file is-color__primary">
          <label class="file-label">
            <input class="file-input" type="file" name="resume" accept="video/mp4,video/x-m4v,video/*" (change)="uploadFile($event, swalSuccess)">
            <span class="file-cta">
              <mat-icon class="material-icons-outlined mr-4" aria-hidden="false" aria-label="cloud_upload">cloud_upload</mat-icon>
              <span class="file-label">
                Subir video...
              </span>
            </span>
          </label>
        </div>
      </mat-list-item>
    </mat-list>
    <section *ngIf="file && (uploadPercent | async) === 100">
      <div class="field">
        <mat-label class="label">Titulo *:</mat-label>
        <div class="control has-icons-left has-icons-right">
          <input class="input"
            type="text"
            required="true"
            placeholder="Titulo del video"
            formControlName="title"
            [value]="dataForm.controls.title.value | titlecase">
        </div>
        <div *ngFor="let errorMessage of errorsMessages.title">
          <ng-container *ngIf="title?.hasError(errorMessage.type) && (title?.dirty || title?.touched)">
            <mat-label class="help">
              {{errorMessage.message}}
            </mat-label>
          </ng-container>
        </div>
      </div>

      <div class="field">
        <mat-label class="label">Descripcion *:</mat-label>
        <textarea class="textarea"
          type="text"
          required="true"
          placeholder="Descripcion del video"
          formControlName="description">
        </textarea>
        <div *ngFor="let errorMessage of errorsMessages.description">
          <ng-container *ngIf="title?.hasError(errorMessage.type) && (title?.dirty || title?.touched)">
            <mat-label class="help">
              {{errorMessage.message}}
            </mat-label>
          </ng-container>
        </div>
      </div>
    </section>
    <button class="mt-4" [disabled]="!dataForm.valid" mat-raised-button type="submit" color="primary">
      <mat-label class="btn-text">Agregar</mat-label>
    </button>
  </section>
</form>

<swal
  #swalSuccess
  title="Agregado correctamente!"
  text="Los datos se agregaron correctamente."
  icon="success"
  position="center"
  customClass="swalSuccess"
  [showCancelButton]="false"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="1500"
  >
</swal>
