<section class="service-container">
  <section class="columns service-container__main-service">
    <!-- data-aos="fade-up"  -->
    <article data-aos="fade-up" class="service-container__main-service__container" *ngFor="let mainService of (services$ | async)" class="column">
      <section class="service-container__main-service__container-service">
        <mat-icon class="material-icons-outlined service-container__main-service__container-service__icon" aria-hidden="false" aria-label="icono de reloj">{{mainService.icon}}</mat-icon>
        <mat-list class="service-container__main-service__container-service__info" role="list">
          <mat-label class="title-text">{{mainService.title}}</mat-label>
          <mat-label class="description-text">{{mainService.description}}</mat-label>
        </mat-list>
      </section>
    </article>
  </section>
</section>
