@import 'variables';
.service-container {
  width: 100%;
  padding: 20px;
  background-color: var(--color-tertiary-95);
  @include media-breakpoint-up(xl) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__main-service {
    width: 100%;
    @include media-breakpoint-up(lg) {
      height: 430px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include media-breakpoint-up(xl) {
      max-width: 1240px;
    }
    &__container {
      color: var(--color-dark-read-only);
      &-service {
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 36px;
        text-align: center;
        @include media-breakpoint-up(lg) {
          padding: 0px 20px;
        }
        @include media-breakpoint-up(xl) {
          flex-direction: row;
          padding: 0px;
        }
        &__icon {
          @include icon-content;
        }

        &__info {
          display: flex;
          flex-direction: column;
          @include media-breakpoint-up(xl) {
            text-align: left;
            margin-left: 16px;
          }
          .title-text {
            @include titleLargeText;
            margin-bottom: 10px;
          }
          .description-text {
            @include bodyLargeText;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
