<article class="main-history p-6">
  <section class="container">
    <article class="columns is-multiline">
      <section class="column is-12-mobile is-6-tablet" data-aos="fade-right">
        <section class="mb-4">
          <mat-label class="is-text is-text--title is-color--secondary">Nuestra Historia</mat-label>
        </section>
        <mat-label class="is-text is-text--body is-color--white has-opacity--8">
          Corría el año 2009, había regresado a mi país después de haber logrado mi especialidad como Ginecólogo en el
          exterior y me enfrentaba a mis primeras pacientes. Evidentemente, hay una diferencia muy importante al atender
          pacientes en el marco del entrenamiento y la formación académica y hacerlo desde la posición del médico
          especialista a cargo.
          En general me desenvolvía con seguridad en mi día a día, pero pronto fui encontrando un grupo de pacientes que
          se constituían en un desafío que sucedía cada vez con más frecuencia y se trataba de las pacientes que
          consultaban por problemas de sexualidad, ya sean propios o al interior de su vida en pareja.
          A pesar de que para entonces yo ya era: <strong class="is-color--white">Médico cirujano Especialista en Ginecología y además Licenciado en
          Psicología desde el año 2020</strong>, me encontraba limitado a la hora de proporcionar a mis pacientes, respuestas y
          soluciones a sus conflictos en la esfera de su sexualidad y además pude percatarme de que no existían o eran
          escasos otros profesionales y/o especialistas para canalizarlas. Fue así que decidí continuar con mi formación
          en esta fascinante área hasta obtener mi certificación como:
          <strong class="is-color--white">
            “ESPECIALISTA EN SEX COACHING, COACHING SEXUAL Y DE PAREJA por la “Asociación Española de Terapia Sexual y
            SEX Coaching”
          </strong>
          Ese fue el germen que, a través de los años la experiencia y la formación constante, fueron dando cuerpo al
          que ahora presentamos con mucha satisfacción como <strong class="is-color--white">“SEXO GOURMET”</strong>, un programa práctico destinado a mejorar la
          vida sexual de las personas, para alcanzar al máximo número de personas / parejas con sus beneficios.
        </mat-label>
      </section>
      <section class="column is-12-mobile is-6-tablet" data-aos="fade-left">
        <figure class="">
          <img class="" src="https://images.news18.com/ibnlive/uploads/2021/11/love-romance-6.jpg" alt="inteligencia erótica historia img">
        </figure>
      </section>
    </article>
  </section>
</article>
