.shopping-cart {
  .columns {
    margin: 0px;
  }
}

.payment-way {
  width: 100%;
  border-radius: 10px;
  &__logo {
    width: 80px;
    height: 40px;
    border-radius: 4px;
    object-fit: contain;
    padding: 0px 5px;
    opacity: 0.7;
    &-content {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.payment-way:hover {
  cursor: pointer;
  box-shadow: 0px 30px 60px #FFFFFF10;
  transition: 0.3s;
}

.bank-account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #FFFFFF25;
  border-radius: 10px;
  &__info {
    width: 100%;
    &-content {
      display: flex;
      flex-direction: column;
      text-align: start;
    }
  }
}

.btn-action {
  border-radius: 20px;
}
