<app-route-section [routes]="['Inteligencia erótica', 'Carrito']"></app-route-section>
<section class="shopping-cart container has-text-centered pt-6">
  <mat-label class="is-text is-text--display is-color--secondary animate__animated animate__fadeIn">{{title}}
  </mat-label>
  <section class="mt-6 columns is-multiline">
    <section class="column is-12-mobile is-6-tablet animate__animated animate__fadeInLeft">
      <mat-horizontal-stepper #stepper class="is-bg--neutral20">
        <mat-step #firstStep>
          <ng-template matStepLabel>
            <mat-label class="is-text is-text--button is-color--primary">Método de pago</mat-label>
          </ng-template>

          <article *ngIf="false" matRipple
            class="payment-way py-2 px-4 is-bg--neutral30 is-flex is-align-items-center is-justify-content-space-between mb-4">
            <mat-label class="is-text is-text--body is-color--white">Pagos Locales</mat-label>
            <figure class="payment-way__logo is-bg--white">
              <img class="payment-way__logo-content" src="assets/img/payments/bcp.png"
                alt="inteligencia erótica bcp logo">
            </figure>
          </article>
          <article matRipple (click)="firstStep._stepper.next()"
            class="payment-way py-2 px-4 is-bg--neutral30 is-flex is-align-items-center is-justify-content-space-between mb-4">
            <mat-label class="is-text is-text--body is-color--white">Depósito bancario</mat-label>
            <figure class="payment-way__logo is-bg--white">
              <img class="payment-way__logo-content" src="assets/img/payments/bnb_logo.png"
                alt="inteligencia erótica bnb logo">
            </figure>
          </article>
          <article *ngIf="false" matRipple
            class="payment-way py-2 px-4 is-bg--neutral30 is-flex is-align-items-center is-justify-content-space-between mb-4">
            <mat-label class="is-text is-text--body is-color--white">PayPal (USD)</mat-label>
            <figure class="payment-way__logo is-bg--white">
              <img class="payment-way__logo-content" src="assets/img/payments/paypal.png"
                alt="inteligencia erótica PayPal logo">
            </figure>
          </article>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>
            <mat-label class="is-text is-text--button is-color--primary">Comprobante</mat-label>
          </ng-template>
          <mat-toolbar class="is-bg--neutral20">
            <button mat-icon-button matStepperPrevious>
              <mat-icon class="is-color--primary" aria-label="label">arrow_back</mat-icon>
            </button>
            <mat-label class="is-text is-text--title is-color--white">Depósito bancario</mat-label>
            <span class="spacer"></span>
            <mat-icon class="is-color--secondary" aria-hidden="false" aria-label="{2:label} icon">payments</mat-icon>
          </mat-toolbar>
          <mat-divider></mat-divider>

          <section class="has-text-centered p-3">
            <mat-label class="is-text is-text--body is-color--white">Para realizar tu pago acude a la siguiente entidad
              financiera.</mat-label>

            <article class="bank-account mt-4 p-2 is-bg--neutral30">
              <section class="is-flex bank-account__info">
                <mat-label class="is-text is-text--body is-color--white">Banco Nacional de Bolivia (BNB)</mat-label>
                <span class="spacer"></span>
                <button mat-button (click)="showQrCode('assets/img/payments/qr-code.jfif')">
                  <mat-label class="is-text is-text--button is-color--primary">Código QR</mat-label>
                </button>
              </section>
              <section class="bank-account__info is-flex is-justify-content-space-between is-align-items-center">
                <section class="bank-account__info-content my-4 mr-2">
                  <mat-label class="is-text is-text--caption is-color--white mb-3">Nro. Cuenta (Bs): 3502964827
                  </mat-label>
                  <mat-label class="is-text is-text--caption is-color--white has-opacity--7">Jackeline Mercado Taborga
                  </mat-label>
                </section>
                <figure class="payment-way__logo is-bg--white">
                  <img class="payment-way__logo-content" src="assets/img/payments/bnb_logo.png"
                    alt="inteligencia erótica banco union logo">
                </figure>
              </section>
            </article>
            <button class="btn-action my-4" mat-raised-button color="primary" matStepperNext>
              <mat-label class="is-text is-text--button">Ya tengo mi comprobante de pago</mat-label>
            </button>
          </section>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>
            <mat-label class="is-text is-text--button is-color--primary">Subir comprobante</mat-label>
          </ng-template>
          <section class="mb-4" *ngIf="user">
            <sex-coach-upload-file [folderName]="'comprobantes/' + user.email" [textButton]="'Subir comprobante'"
              (imageEventEmitter)="getUrlImage($event)"></sex-coach-upload-file>
          </section>
          <section class="mb-4">
            <mat-label *ngIf="imageUrlUpload === ''" class="my-4 is-text is-text--caption is-color--danger">La
              fotografía del comprobante de pago es requerido</mat-label>
          </section>
          <button [disabled]="!(imageUrlUpload !== '')" class="btn-action my-4" mat-raised-button color="primary"
            (click)="buyMyCourses()">
            <mat-label class="is-text is-text--button">Terminar mi compra</mat-label>
          </button>
          <mat-progress-bar *ngIf="loadingProgress" mode="indeterminate"></mat-progress-bar>
        </mat-step>
      </mat-horizontal-stepper>
    </section>
    <section class="column is-12-mobile is-6-tablet  animate__animated animate__fadeInRight">
      <int-ero-shopping-list [showPaymentButton]="false"></int-ero-shopping-list>
    </section>
  </section>
</section>
