<app-route-section [showCloseButton]="true" [routes]="['Admin', 'Especialidad', 'Agregar']" (btnEventEmitter)="closeBtn()"></app-route-section>
<app-admin-title-section [title]="'Agregar Especialidad'"></app-admin-title-section>

<mat-divider></mat-divider>
<mat-label class="text-label">Los campos con * son obligatorios:</mat-label>
<form class="form-container" [formGroup]="dataForm" (ngSubmit)="addData(swalSuccess)">
  <section class="form-container__content">
    <div class="field mb-4">
      <mat-label class="label">Titulo*:</mat-label>
      <div class="control has-icons-left has-icons-right">
        <input class="input"
          type="text"
          required="true"
          placeholder="Titulo de la especialidad"
          formControlName="title"
          [value]="dataForm.controls.title.value | titlecase">
      </div>
      <div *ngFor="let errorMessage of errorsMessages.title">
        <ng-container *ngIf="title?.hasError(errorMessage.type) && (title?.dirty || title?.touched)">
          <mat-label class="help">
            {{errorMessage.message}}
          </mat-label>
        </ng-container>
      </div>
    </div>
    <div class="field mb-4">
      <mat-label class="label">Description *:</mat-label>
      <textarea class="textarea"
        type="text"
        placeholder="Descripción de la especialidad"
        formControlName="description"
        rows="5">
      </textarea>
      <div *ngFor="let errorMessage of errorsMessages.description">
        <ng-container *ngIf="description?.hasError(errorMessage.type) && (description?.dirty || description?.touched)">
          <mat-label class="help">
            {{errorMessage.message}}
          </mat-label>
        </ng-container>
      </div>
    </div>
    <figure class="icon-content" *ngIf="dataForm.controls.title.value !== ''">
      <ngx-avatar class="mb-4 speciality-icon" size="100" [name]="dataForm.controls.title.value" [src]="dataForm.controls.icon.value"></ngx-avatar>
      <div class="file mb-4 is-color__primary">
        <label class="file-label">
          <input class="file-input" type="file" accept="*/image" name="resume" (change)="uploadFile($event)">
          <span class="file-cta">
            <mat-icon class="material-icons-outlined mr-4" aria-hidden="false" aria-label="cloud_upload">cloud_upload</mat-icon>
            <span class="file-label">
              Subir imagen
            </span>
          </span>
        </label>
      </div>
    </figure>
    <mat-progress-bar *ngIf="stateUpload" [value]="uploadPercent | async" mode="determinate"></mat-progress-bar>
    <button class="mt-4" [disabled]="!dataForm.valid" mat-raised-button type="submit" color="primary">
      <mat-label class="btn-text">Guardar cambios</mat-label>
    </button>
  </section>
</form>

<swal
  #swalSuccess
  title="Guardado correctamente!"
  text="Los datos se guardaron correctamente."
  icon="success"
  position="center"
  customClass="swalSuccess"
  [showCancelButton]="false"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="1500"
  >
</swal>
