@import 'variables';
$family: 'Open Sans', sans-serif;
$second_family: 'Noto Serif', serif;
.is-text {
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.4px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: auto;

  &--display {
    font-weight: 400;
    font-size: 2.25rem; //36px
    line-height: 44px;
    font-family: $second_family !important;
    @include media-breakpoint-up(md) {
      font-size: 2.813rem; //45px
      line-height: 52px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 3.563rem; //57px
      line-height: 64px;
      letter-spacing: -0.25px;
    }
  }

  &--title {
    font-weight: 600;
    font-size: 1rem; //16px
    letter-spacing: 0.1px;
    line-height: 26px !important;
    @include media-breakpoint-up(md) {
      font-size: 1.125rem; //20px
    }

    @include media-breakpoint-up(xl) {
      font-size: 1.25rem; //26px
      line-height: 40px !important;
    }
    &-large {
      @include media-breakpoint-up(md) {
        font-size: 1.25rem; //26px
      }

      @include media-breakpoint-up(xl) {
        font-size: 1.875rem; //30px
        line-height: 40px !important;
      }

    }
  }

  &--label {
    font-size: 0.75rem; //12px
    line-height: 16px;
    letter-spacing: 0.5px;

    @include media-breakpoint-up(md) {
      font-size: 0.875rem; //14px
    }

    @include media-breakpoint-up(xl) {
      font-size: 1rem; //16 px
    }
  }

  &--body {
    font-weight: 400;
    font-size: 0.75rem; // 12px
    line-height: 1.85;
    @include media-breakpoint-up(md) {
      font-size: 0.875rem; //14px
      letter-spacing: 0.25px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1rem; //16px
      letter-spacing: 0.5px;
    }
  }
  &--subhead {
    font-weight: 500;
    font-size: 1.5rem; // 24px
    line-height: 32px;

    @include media-breakpoint-up(md) {
      font-size: 1.75rem; //28px
      line-height: 36px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 2rem; //32px
      line-height: 40px;
    }
  }

  &--button {
    font-size: 0.875rem; //14px
    line-height: 20px;
    letter-spacing: 0.1px;
    cursor: pointer;
  }

  &--caption {
    font-weight: 400;
    font-size: 0.75rem; //12px
  }

  &--center {
    text-align: center;
  }

  &--block {
    display: block;
  }

  &--stepper {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    &--bg {
      background-color: var(--mgr-vctn-color-dark-on-surface);
    }

    &--inline-flex {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}
