.is-color {
  &--primary {
    color: var(--color-dark-primary) !important;
    &--light {
      color: var(--color-light-primary) !important;
    }
  }

  &--secondary {
    color: var(--color-dark-secondary) !important;
    &--light {
      color: var(--color-light-secondary) !important;
    }
  }

  &--tertiary {
    color: var(--color-dark-tertiary);
    &--light {
      color: var(--color-light-tertiary);
    }
  }

  &--on-surface {
    color: var(--color-dark-on-surface);
  }

  &--white {
    color: var(--color-dark-read-only);
  }

  &--danger {
    color: var(--color-dark-error) !important;
  }

  &--neutral70 {
    color: var(--color-neutral-70) !important;
  }
}

.is-bg {
  background-color: var(--color-dark-bg);

  &--primary {
    background-color: var(--color-dark-primary-container) !important;
  }

  &--secondary {
    background-color: var(--color-dark-secondary-container) !important;
  }

  &--tertiary {
    background-color: var(--color-dark-tertiary-container);
  }

  &--dark {
    background-color: var(--color-dark-bg);
  }

  &--white {
    background-color: var(--color-neutral-99);
  }

  &--neutral10 {
    background-color: var(--color-neutral-10) !important;
    &--variant {
      background-color: var(--color-neutral-variant-10);
    }
  }

  &--neutral20 {
    background-color: var(--color-neutral-20) !important;
    &--variant {
      background-color: var(--color-neutral-variant-20);
    }
  }

  &--neutral30 {
    background-color: var(--color-neutral-30) !important;
  }

  &--neutral50 {
    background-color: var(--color-neutral-50) !important;
  }
  &--neutral90 {
    background-color: var(--color-neutral-90) !important;
  }
  &--neutral95 {
    background-color: var(--color-neutral-90) !important;
  }
}
