<vg-player (onPlayerReady)="onPlayerReady($event)">
  <vg-overlay-play></vg-overlay-play>
  <vg-buffering></vg-buffering>
  <vg-scrub-bar>
    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
  </vg-scrub-bar>
  <vg-controls class="is-flex is-justify-content-space-around">
    <vg-play-pause class="is-flex is-align-items-center"></vg-play-pause>
    <vg-playback-button class="is-flex is-align-items-center"></vg-playback-button>
    <vg-time-display vgProperty="current" vgFormat="mm:ss" class="is-flex is-align-items-center"></vg-time-display>
    <vg-time-display vgProperty="total" vgFormat="mm:ss" class="is-flex is-align-items-center"></vg-time-display>
    <vg-mute class="is-flex is-align-items-center"></vg-mute>
    <vg-volume class="is-flex is-align-items-center"></vg-volume>
    <vg-fullscreen class="is-flex is-align-items-center"></vg-fullscreen>
  </vg-controls>

  <video #media [vgMedia]="$any(media)" [src]="video.src" id="singleVideo" preload="auto" crossorigin>
  </video>
</vg-player>
<section class="pt-4 pb-2 main-container__resources-content player-wrapper">
  <mat-label class="main-container__resources-content__title">{{video.title}}</mat-label>
  <section>
    <button [disabled]="videoIndex === 0" mat-button class="action-previous__btn" color="primary" (click)="previousVideo()">
      <mat-icon>skip_previous</mat-icon>
      <mat-label>Anterior</mat-label>
    </button>
    <button [disabled]="videoIndex === playlist.length - 1" mat-raised-button color="primary" (click)="nextVideo()">
      <mat-icon>skip_next</mat-icon>
      <mat-label>Siguiente</mat-label>
    </button>
  </section>
</section>
