@import 'variables';

.form-container {
  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--color-neutral-20);
  }
}

.icon-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
