<mat-list-item matRipple (click)="selectEventEmitter.emit(true)">
  <mat-label class="is-color--white" [class.selected]="video === videoSelected">{{ video.order + '.- ' + video.title  }}</mat-label>
  <span class="spacer"></span>
  <button *ngIf="user?.role === 'ADMIN'" mat-icon-button (click)="actionEventEmitter.emit('edit')">
    <mat-icon class="material-icons-outlined is-color--white" aria-label="edit icon">edit</mat-icon>
  </button>
  <button *ngIf="user?.role === 'ADMIN'" mat-icon-button (click)="actionEventEmitter.emit('delete')">
    <mat-icon class="material-icons-outlined is-color--danger" aria-label="delete icon">delete</mat-icon>
  </button>
</mat-list-item>
