<app-route-section [routes]="['Inteligencia erótica', 'Blogs']"></app-route-section>
<app-admin-title-section [title]="'Lista de blogs'"></app-admin-title-section>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
<section *ngIf="blogs" class="main-container">
  <section class="main-container__content">
    <mat-toolbar class="filter-toolbar mb-4">
      <mat-toolbar-row>
        <div class="field">
          <div class="control has-icons-left has-icons-left">
            <mat-icon aria-hidden="false" color="primary" aria-label="search icon">search</mat-icon>
            <input class="input pl-4" type="text" placeholder="Nombre del blog" [(ngModel)]="dataToSearch">
          </div>
        </div>
        <span class="spacer"></span>
        <button (click)="addNewData()" *ngIf="!(isHandset$ | async) && (user?.role === 'ADMIN')" mat-raised-button color="primary">
          <mat-label>Nuevo blog</mat-label>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="(isHandset$ | async)">
        <span class="spacer"></span>
        <button (click)="addNewData()" mat-raised-button color="primary">
          <mat-label>Nuevo blog</mat-label>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <section *ngIf="blogs.length !== 0" class="columns is-multiline p-4">
      <article *ngFor="let blog of blogs " class="column is-12-mobile is-6-tablet is-4-desktop">
        <int-ero-blog [user]="user" [blog]="blog"></int-ero-blog>
      </article>
    </section>

    <section *ngIf="blogs.length === 0">
      <int-ero-empty-state [btnTitle]="'Agregar nuevo blog'" (btnEventEmitter)="addNewData()"></int-ero-empty-state>
    </section>
  </section>
</section>

