<mat-toolbar *ngIf="showPaymentButton">
  <span>Lista de cursos en tu carrito</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="closeEventEmitter.emit(true)">
    <mat-icon class="is-color--danger" aria-label="label">close</mat-icon>
  </button>
</mat-toolbar>

<article *ngFor="let course of courses$ | async" class="course is-flex-desktop is-align-items-center p-4">
  <figure class="course-banner mb-4">
    <img class="course-banner__img" [src]="course.banner" alt="banner course">
  </figure>
  <section class="course-info is-flex is-justify-content-space-between px-3">
    <section class="is-flex is-flex-direction-column">
      <mat-label class="is-text is-text--title mb-3 is-color--secondary">{{course.title}}</mat-label>
      <button mat-button class="btn-delete" (click)="deleteCourseToList(course)">
        <mat-icon class="mr-2 is-color--danger material-icons-outlined" aria-hidden="false" aria-label="delete icon">
          delete</mat-icon>
        <mat-label class="is-text is-text--button is-color--danger">Eliminar</mat-label>
      </button>
    </section>
    <section>
      <mat-label class="is-text is-text--body is-color--white">{{course.price/2 | currency:' Bs. '}}</mat-label>
    </section>
  </section>
</article>

<mat-toolbar class="is-bg--neutral20--variant">
  <span class="is-color--white">Total:</span>
  <span class="spacer"></span>
  <span class="is-color--white">{{((courses$ | async) | totalPrice) | currency:' Bs. '}}</span>
</mat-toolbar>

<section class="px-6 py-2 is-flex is-flex-direction-column" *ngIf="showPaymentButton">
  <button [disabled]="((courses$ | async) | totalPrice) === 0 ? true : false" mat-raised-button class="btn-action mb-4"
    color="primary" (click)="goToPayment()">
    <mat-icon class="mr-2 material-icons-outlined" aria-hidden="false" aria-label="money icon">payments</mat-icon>
    <mat-label class="is-text is-text--button">Proceder con el pago</mat-label>
  </button>
</section>
