@import 'variables';
.course {
  width: 100%;
  border-bottom: 1px solid #FFFFFF25;
  &-banner {
    width: 100%;
    height: 170px;
    overflow: hidden;
    border-radius: 10px;

    @include media-breakpoint-up(xl) {
      max-width: 240px;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .course-info {
    flex: 1 1 auto;
  }

  .is-text--subhead {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .btn-delete {
    width: fit-content;
  }
}

.btn-action {
  height: 55px;
  border-radius: 35px;
  margin: auto;
  @include media-breakpoint-up(xl) {
    width: 500px;
  }
}
