<mat-toolbar class="is-bg--neutral10--variant">
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon class="is-color--primary" aria-label="label">close</mat-icon>
  </button>
</mat-toolbar>

<figure class="qr-code p-4">
  <img class="qr-code__image" [src]="data || 'https://www.mertind.com/bolivia/images/QRUnion25052021.jpeg'" alt="código qr">
</figure>
