<a *ngIf="blog?.url !== ''" [href]="blog.url" target="_blank" rel="noopener noreferrer">
  <article matRipple *ngIf="blog" class="blog-card__carrousel" [ngClass]="{'has-cursor--pointer': blog.url !== ''}">
    <figure class="blog-card__carrousel-figure">
      <img class="img-content" [src]="blog.banner" alt="inteligencia erótica banner">
    </figure>
    <section class="on-background on-background--text blog-card__carrousel-text">
      <section class="blog-content__info is-flex is-flex-direction-column  animate__animated animate__fadeInUp"
        *ngIf="index === realIndexSwiper">
        <section class="is-flex is-align-items-center mb-4">
          <mat-label class="is-text is-text--caption blog-category__tag py-1 px-2 has-text-centered mr-4">
            {{blog.category}}</mat-label>
          <mat-label class="is-text is-text--caption">{{blog.datePublish.toDate() | date}}</mat-label>
        </section>
        <mat-label #titleText class="is-text is-text--subhead">{{blog.title}}</mat-label>
        <mat-label #titleText class="is-text is-text--body">{{blog.description}}</mat-label>
      </section>
    </section>
  </article>
</a>
<article matRipple *ngIf="blog &&  blog.url === ''" class="blog-card__carrousel" [ngClass]="{'has-cursor--pointer': blog.url !== ''}">
  <figure class="blog-card__carrousel-figure">
    <img class="img-content" [src]="blog.banner" alt="inteligencia erótica banner">
  </figure>
  <section class="on-background on-background--text blog-card__carrousel-text">
    <section class="blog-content__info is-flex is-flex-direction-column  animate__animated animate__fadeInUp"
      *ngIf="index === realIndexSwiper">
      <section class="is-flex is-align-items-center mb-4">
        <mat-label class="is-text is-text--caption blog-category__tag py-1 px-2 has-text-centered mr-4">
          {{blog.category}}</mat-label>
        <mat-label class="is-text is-text--caption">{{blog.datePublish.toDate() | date}}</mat-label>
      </section>
      <mat-label #titleText class="is-text is-text--subhead">{{blog.title}}</mat-label>
      <mat-label #titleText class="is-text is-text--body">{{blog.description}}</mat-label>
    </section>
  </section>
</article>
