@import 'variables';
.blog-card__carrousel {
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  @include media-breakpoint-up(lg) {
    height: 550px;
  }
  @include media-breakpoint-up(lg) {
    height: 650px;
  }
  &-figure {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    .img-content {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  &-text {
    padding: 20px;
    @include media-breakpoint-up(lg) {
      padding: 40px;
    }
    .is-text--subhead {
      transition: 0.3s;
      cursor: pointer;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
    }
  }
}


.blog-category__tag {
  display: inline-block;
  border-radius: 10px;
  background-color: var(--color-light-secondary);
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-content__info {
  width: 100%;
}
