<article class="upload-file is-flex is-flex-direction-column is-align-items-center">
  <figure class="upload-file__image is-bg--neutral30 has-border-radius--8 mb-4 p-2">
    <img *ngIf="!file" class="empy-image has-border-radius--8" [src]="imageSelectedByUser" alt="imagen seleccionada por el usuario">
    <mat-label *ngIf="!file" class="is-text is-text--body is-color--white has-text-centered">Seleccione una imagen para el item que esta registrando</mat-label>
    <img *ngIf="file" class="upload-file__image-content has-border-radius--8" [src]="imageSelectedByUser" alt="imagen seleccionada por el usuario">
    <section class="on-bg">
      <section class="file">
        <label class="file-label">
          <input class="file-input"
            accept="image/*"
            type="file"
            name="resume"
            (change)="previewImageSeleced($event)">
          <span class="file-cta">
            <mat-icon class="material-icons-outlined mr-2 is-color--dark" aria-hidden="false" aria-label="image icon">image</mat-icon>
            <mat-label class="is-text is-text--button is-color--dark">
              Seleccionar imagen
            </mat-label>
          </span>
        </label>
      </section>
    </section>
  </figure>
  <mat-progress-bar *ngIf="statusUpload" [value]="(uploadPercent | async)"  mode="determinate"></mat-progress-bar>
  <button type="button" mat-button *ngIf="file" (click)="startedUploadFile()">
    <mat-icon class="material-icons-outlined is-color--primary mr-2" aria-hidden="false" aria-label="cloud_upload icon">cloud_upload</mat-icon>
    <mat-label class="is-text is-text--button is-color--primary">
      {{textButton}}
    </mat-label>
  </button>
</article>
