@import 'variables';
.upload-file {
  width: 100%;
  &__image {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .empy-image{
      width: 100px;
      height: 100px;
      object-fit: contain;
    }

    .file {
      width: fit-content;
    }
    &-content {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.on-bg {
  opacity: 0;
}
.on-bg:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
