<mat-toolbar class="navbar-container mat-elevation-z6 is-bg--neutral20--variant">
  <button mat-icon-button (click)="clickMenu()">
    <mat-icon class="is-color--white" aria-label="menu-icon-button">menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <mat-label *ngIf="user" class="is-text is-text--caption is-color--white mr-4 px-4">{{user.name}}</mat-label>
  <button class="mr-2" mat-icon-button>
    <mat-icon class="material-icons-outlined is-color--white" aria-label="label">contact_support</mat-icon>
  </button>
  <button class="mr-4" *ngIf="(courseList$ | async)?.length !== 0" mat-icon-button routerLink="/secure/carrito">
    <mat-icon class="material-icons-outlined is-color--white" [matBadge]="(courseList$ | async)?.length" aria-label="label">shopping_cart</mat-icon>
  </button>
  <ngx-avatar *ngIf="user" size="40" [round]="true" [name]="user?.name" [src]="user?.avatar" [matMenuTriggerFor]="menu"></ngx-avatar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">Cerrar sesión</button>
  </mat-menu>
</mat-toolbar>
