@import 'variables';

* {
  box-sizing: border-box;
}
.mat-divider {
  border-color: var(--color-outline);
  margin-bottom: 10px;
}
.container {
  padding: 20px;
  .subtitle-text {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    @include titleMediumText;
  }
  .testimony {
    &-container {
      height: 350px;
      overflow: auto;
      padding: 20px;
      border-radius: 4px;
      background-color: var(--color-neutral-20);
      color: var(--color-neutral-99);
      &__avatar {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &-content {
          margin-right: 16px;
          margin-bottom: 10px;
          position: relative;
          &__icon-country {
            position: absolute;
            right: 0px;
            bottom: 0px;
          }
        }
        &-name {
          @include titleMediumText;
          color: var(--color-tertiary-container);
        }

      }
      &__info {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        &-icon {
          color: var(--color-dark-tertiary);
          transform: rotate(180deg);
        }
        &-testimony {
          @include bodyLargeText;
          opacity: 0.7;
          margin-top: 10px;
        }
      }
    }
  }
}
