<section class="container pt-6">
  <app-title-section [title]="'No creeras lo que dicen nuestros clientes'"></app-title-section>
  <mat-label class="subtitle-text">+de 700 de nuestros clientes mejoran su rendimiento laboral y académico</mat-label>
  <section class="columns is-multiline">
    <section class="column is-12-mobile is-6-tablet is-4-desktop testimony" *ngFor="let testimony of (tesminonials$ | async)">
      <article data-aos="fade-up" class="testimony-container">
        <section class="testimony-container__avatar">
          <figure class="testimony-container__avatar-content">
            <ngx-avatar [name]="testimony.name" [src]="testimony.avatar"
            size="100" [round]="true">
           </ngx-avatar>
           <span class="fi fi-{{testimony.country.alpha2}} testimony-container__avatar-content__icon-country" [matTooltip]="testimony.country.name"></span>
          </figure>
          <mat-label class="testimony-container__avatar-name">{{testimony.name}}</mat-label>
        </section>
        <mat-divider></mat-divider>
        <section class="testimony-container__info">
          <mat-icon class="testimony-container__info-icon" aria-hidden="false" aria-label="{2:label} icon">format_quote</mat-icon>
          <mat-label class="testimony-container__info-testimony">{{testimony.testimonial}}</mat-label>
        </section>
      </article>
    </section>
  </section>
</section>
