<app-route-section [routes]="['Admin', 'Razones']"></app-route-section>
<app-admin-title-section [title]="'Lista de Razones para escogernos'"></app-admin-title-section>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
<section *ngIf="specialities" class="main-container">
  <section class="main-container__content">
    <mat-toolbar class="filter-toolbar mb-4">
      <mat-toolbar-row>
        <div class="field">
          <div class="control has-icons-left has-icons-left">
            <mat-icon aria-hidden="false" color="primary" aria-label="search icon">search</mat-icon>
            <input class="input pl-4" type="text" placeholder="Nombre de la razon" [(ngModel)]="dataToSearch">
          </div>
        </div>
        <span class="spacer"></span>
        <button (click)="addNewData()" *ngIf="(!(isHandset$ | async) && user?.role === 'ADMIN')" mat-raised-button color="primary">
          <mat-label>Nueva Especialidad</mat-label>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="(isHandset$ | async)">
        <span class="spacer"></span>
        <button *ngIf="user?.role === 'ADMIN'" (click)="addNewData()" mat-raised-button color="primary">
          <mat-label>Nueva Especialidad</mat-label>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <section *ngIf="specialities.length !== 0" class="columns is-multiline">
      <article *ngFor="let speciality of specialities " class="column is-12-mobile is-6-tablet is-4-desktop">
        <int-ero-speciality-data [user]="user" [speciality]="speciality"></int-ero-speciality-data>
      </article>
    </section>

    <section *ngIf="specialities.length === 0">
      <int-ero-empty-state [btnTitle]="'Agregar nueva especialidad'" (btnEventEmitter)="addNewData()"></int-ero-empty-state>
    </section>
  </section>
</section>

