@import 'variables';

.main-container {
  padding: 0px 16px 16px 16px;
  // background-color: violet;
  &__content {
    padding: 8px;
    border-radius: 12px;
    background-color: var(--color-neutral-20);

    .filter-toolbar {
      .field {
        width: 100%;
        margin-bottom: 0px;
        @include media-breakpoint-up(md) {
          max-width: 450px;
        }
        @include media-breakpoint-up(lg) {
          max-width: 550px;
        }
        .control {
          padding-left: 16px;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: var(--color-neutral-40);
          border-radius: 4px;
          mat-icon {
            color: var(--color-dark-primary);
          }
        }
      }
    }
  }

}
