<section class="image-container">
  <figure [ngStyle]="{'box-shadow': mode === 'light'? '0px 30px 60px #b2b2b250': 'inherit'}" class="image image-container__image-content animate__animated animate__jackInTheBox">
    <img src="assets/img/construction.png" alt="inteligencia erótica imagen en contrucción">
  </figure>
  <section class="image-container__text-container has-text-centered">
    <mat-label [ngStyle]="{'color': mode === 'light'? '#000000': '#FFFFFFFF'}" color="accent" class="text title-text animate__animated animate__zoomIn animate__delay-1s">La página de <strong [ngStyle]="{'color': mode === 'light'? '#000000': '#FFFFFFFF'}">{{title}}</strong> esta en construcción</mat-label>
    <mat-label [ngStyle]="{'color': mode === 'light'? '#000000': '#FFFFFFFF'}" color="accent" class="text description-text animate__animated animate__zoomIn animate__delay-1s">Pronto te traeremos muchas sorpresas</mat-label>
  </section>
</section>
