@import 'variables';
.image-container {
  margin: auto;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  @include media-breakpoint-up(md) {
    max-width: 600px;
  }
  &__image-content {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0px 30px 60px #b2b2b250;
    overflow: hidden;
    margin-bottom: 16px;
  }

  &__text-container {
    width: 100%;
    .text {
      display: block;
    }

    .title-text {
      @include displaySmallText;
      margin-bottom: 16px;
      --animate-delay: 0.3s
    }
    .description-text {
      @include bodyLargeText;
      --animate-delay: 0.6s
    }
  }
}
