<section class="main-container">
  <article *ngIf="banner$" class="main-container__banner">
    <section class="main-container__banner-info">
      <h1 class="display-text animate__animated animate__fadeInLeft animate__delay-1s animate__slow">{{(banner$ | async)?.title}}</h1>
      <mat-label class="description-text animate__animated animate__fadeInLeft animate__delay-1s animate__slow">
        {{(banner$ | async)?.subtitle}}
      </mat-label>
      <button class="btn-content animate__animated animate__fadeInLeft animate__delay-1s animate__slow" color="primary"
        mat-raised-button
        routerLink="../cursos">
        <mat-label class="is-text is-text--button">Comienza a aprender</mat-label>
      </button>
    </section>
    <figure class="main-container__banner-image  animate__animated animate__fadeInUp animate__delay-1s animate__slow">
      <img class="main-container__banner-image__content" [src]="(banner$ | async)?.image" alt="inteligencia erótica imagen de portada">
      <div class="on-background"></div>
    </figure>
  </article>

  <app-main-service></app-main-service>
  <app-about-me></app-about-me>
  <app-speciality></app-speciality>
  <app-learning></app-learning>
  <app-testimony *ngIf="false"></app-testimony>
</section>
