@import 'variables';
.main-container {
  width: 100%;
  padding-bottom: 35px;
  &__banner {
    width: 100%;
    min-height: 425px;
    padding: 20px;
    background: linear-gradient(73.73deg, #5D1034 0%, #EFBC94 100%);
    display: flex;
    @include media-breakpoint-up(lg) {
      justify-content: space-between;
      padding-top: 80px;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 100px;
      padding-right: 100px;
    }

    &-info {
      width: 100%;
      padding: 16px;
      text-align: center;
      @include media-breakpoint-up(lg) {
        width: 50%;
        text-align: left;
      }
      .display-text {
        color: var(--color-dark-tertiary);
        margin-bottom: 16px;
        --animate-delay: 0.5s;
        @include displaySmallText;
        @include media-breakpoint-up(md) {
          margin-bottom: 34px;
          @include displayMediumText;
        }
        @include media-breakpoint-up(lg) {
          @include displayLargeText;
        }
      }
      .description-text {
        display: block;
        margin-bottom: 16px;
        color: var(--color-dark-on-surface);
        --animate-delay: 0.8s;
        @include bodySmallText;
        @include media-breakpoint-up(md) {
          margin-bottom: 34px;
          @include bodyMediumText;
        }
        @include media-breakpoint-up(lg) {
          @include headlineSmallText;
        }
      }
      .btn-content {
        --animate-delay: 1;
        @include btn-content;
      }
      .btn-text {
        @include buttonText;
      }
    }

    &-image {
      display: none;
      box-shadow: 0px 30px 60px rgba(31, 26, 27, 0.25);
      --animate-delay: 1.2s;
      @include media-breakpoint-up(lg) {
        width: 50%;
        height: 600px;
        display: block;
        background-color: #5D1034;
        position: relative;
      }
      &__content {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: -180px;
        @include media-breakpoint-up(lg) {
          position: absolute;
        }
      }
    }
  }
}
