/* You can add global styles to this file, and also import other style files */
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import './assets/scss/theme';
@import './assets/scss/style/swiper.component';
@import './assets/scss/style/bulma.components';
@import './assets/scss/style/sweet-alert.components';
@import './assets/scss/style/ngx-avatar.components';
@import './assets/scss/style/angular.components';
@import './assets/scss/style/font/font-styles';
@import './assets/scss/style/colors/colors-styles';
@import './assets/animations/animations.scss';

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body {
  font-family: 'Open Sans', sans-serif;
}

.fi {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  border: 1px solid #9D8C90;
}

.on-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #1F1A1B59;
  display: flex;
  align-items: center;
  justify-content: center;

  &--text {
    background: linear-gradient(0deg, rgba(31, 26, 27, 0.7) 38.84%, rgba(31, 26, 27, 0) 100%);
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    color: #FFFFFF;
  }
}

@include media-breakpoint-up(lg) {
  *::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    // display: none;  /* Ocultar scroll */
  }
  *::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  *::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }

  *::-webkit-scrollbar-track:hover,
  *::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }

}
