@import 'variables';
.title-container {
  width: 100%;
  display: flex;
  align-items: center;

  .border-divider {
    height: 1px;
    width: 40%;
    max-width: 500px;
    background-color: var(--color-secondary);
    @include media-breakpoint-up(md) {
      width: 30%;
    }

    @include media-breakpoint-up(lg) {
      width: 40%;
    }
  }

  &__title-text {
    @include displayExtraSmallText;

    @include media-breakpoint-up(md) {
      @include displaySmallText;

    }
    @include media-breakpoint-up(xl) {
      @include displayMediumText;
    }
    text-align: center;
    color: var(--color-secondary);
  }
}
