<section class="title-container">
  <div class="border-divider"></div>
  <mat-label class="is-text is-text--display is-text--center is-color--secondary--light">{{title}}</mat-label>
  <div class="border-divider"></div>
</section>
