<section *ngIf="aboutUsCallToAction" class="main-learning">
  <app-title-section [title]="aboutUsCallToAction.title"></app-title-section>

  <article class="main-learning__content">
    <section class="main-learning__content-description">
      <mat-label class="main-learning__content-description__title" data-aos="fade-up">{{aboutUsCallToAction.subtitle}}</mat-label>
      <p class="main-learning__content-description__text" data-aos="fade-down">{{aboutUsCallToAction.description[1]}}</p>
    </section>

    <section class="main-learning__content-figure" data-aos="fade-right">
      <figure class="main-learning__content-figure__container">
        <img class="main-learning__content-figure__container-content" [src]="aboutUsCallToAction.images[1]" alt="inteligencia erótica image to call to action">
      </figure>
    </section>
  </article>
</section>
