@import 'variables';
.main-learning{
  background-color: var(--color-background);
  padding: 25px 0;

  &__content{
    border-radius: 8px;
    width: 80%;
    // text-align: center;
    margin: auto;
    margin-top: 25px;
    // min-height: 400px;
    padding: 20px;
    background-color: var(--color-tertiary-95);

    @include media-breakpoint-up(md){
      display: flex;
      align-items: center;
      width: 70%;
    }

    @include media-breakpoint-up(lg){
      width: 60%;
    }

    @include media-breakpoint-up(xl){
      width: 40%;
    }
  }

  &__content-description{
    width: 80%;
    margin: auto;
    margin-top: 31px;
    &__title{
      @include headlineSmallText;
      color: var(--color-on-primary-container);

      @include media-breakpoint-up(md) {
        @include headlineMediumText;
      }

      @include media-breakpoint-up(lg) {
        @include headlineLargeText;
      }
    }

    &__text{
      @include bodySmallText;
      margin-top: 31px;

      @include media-breakpoint-up(md) {
        @include bodyMediumText;
      }

      @include media-breakpoint-up(lg) {
        @include bodyLargeText;
      }
    }
  }

  &__content-figure{

    &__container{
      margin: auto;
      width: 315px;
      height: 239px;
      &-content{
        width: 100%;
      }
    }
  }
}
