<!-- <app-construction [mode]="'dark'" [title]="'Testimonios'"></app-construction> -->

<app-route-section [routes]="['Inteligencia erótica', 'Testimonios']"></app-route-section>
<app-admin-title-section [title]="'Lista de testimonios'"></app-admin-title-section>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
<section *ngIf="testimonials" class="main-container">
  <section class="main-container__content">
    <mat-toolbar class="filter-toolbar mb-4">
      <mat-toolbar-row>
        <div class="field">
          <div class="control has-icons-left has-icons-left">
            <mat-icon aria-hidden="false" color="primary" aria-label="search icon">search</mat-icon>
            <input class="input pl-4" type="text" placeholder="Nombre del cliente" [(ngModel)]="dataToSearch">
          </div>
        </div>
        <span class="spacer"></span>
        <button (click)="addNewData()" *ngIf="(!(isHandset$ | async) && user?.role === 'ADMIN')" mat-raised-button color="primary">
          <mat-label>Nuevo testimonio</mat-label>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="(isHandset$ | async)">
        <span class="spacer"></span>
        <button *ngIf="user?.role === 'ADMIN'" (click)="addNewData()" mat-raised-button color="primary">
          <mat-label>Nuevo testimonio</mat-label>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <section *ngIf="testimonials.length !== 0" class="columns is-multiline p-4">
      <article *ngFor="let testimonial of testimonials " class="column is-12-mobile is-6-tablet is-4-desktop">
        <int-ero-testimonial [user]="user" [testimonial]="testimonial"></int-ero-testimonial>
      </article>
    </section>

    <section *ngIf="testimonials.length === 0">
      <int-ero-empty-state [btnTitle]="'Agregar nuevo testimonio'" (btnEventEmitter)="addNewData()"></int-ero-empty-state>
    </section>
  </section>
</section>

