@import 'variables';

.main-container{
  // background-color: #23191C;
  padding-left: 22px;
  padding-right: 22px;

  &__resources{

    &-container{

      &__video{
        width: 100%;
      }
    }

    &-content{
      display: flex;
      justify-content: space-between;
      &__title{
        @include titleLargeText;
        color: var(--color-dark-read-only);
      }
    }

    &-description{

      &__avatar{
        display: flex;
        align-items: center;
        @include bodyLargeText;
        color: var(--color-neutral-99);
        &-name{
          opacity: 0.6;
        }
      }

      &__text{
        @include bodyLargeText;
        // opacity: 0.4;
        color: var(--color-neutral-99);
        background-color: var(--color-neutral-20);
        padding: 20px;
        margin-top: 20px;

      }
    }
  }

  &__syllabus{
    background-color: var(--color-neutral-20);

    &__header{
      padding: 10px;
      display: flex;
      align-items: center;
      &-title{
        @include titleMediumText;
        color: var(--color-dark-secondary);
      }
      &-icon{
        color: var(--color-dark-secondary);
      }
    }

    &__content{
      color: var(--color-dark-on-surface-variant);
    }

  }
}


.video-view-container {
  position: relative;
  overflow: hidden;
}

.lock-icon {
  font-size: 50px;
}
