<section class="video-view-container has-border-radius--8 is-flex">
  <vg-player (onPlayerReady)="onPlayerReady($event)">
    <vg-buffering></vg-buffering>
    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>
    <vg-controls class="is-flex is-justify-content-space-around">
      <vg-time-display vgProperty="current" vgFormat="mm:ss" class="is-flex is-align-items-center"></vg-time-display>
      <vg-time-display vgProperty="total" vgFormat="mm:ss" class="is-flex is-align-items-center"></vg-time-display>
      <vg-mute class="is-flex is-align-items-center"></vg-mute>
      <vg-volume class="is-flex is-align-items-center"></vg-volume>
    </vg-controls>

    <video #media [vgMedia]="$any(media)" [src]="video.src" id="singleVideo" crossorigin>
    </video>
  </vg-player>

  <section class="on-bg">
    <mat-icon aria-hidden="false" class="is-color--primary lock-icon" aria-label="lock icon">lock</mat-icon>
  </section>
</section>
